[2019-05-10 18:23] yaron2 opened #138 "Update diagram"
Kubernetes store should be Kubernetes API server in the diagram

[2019-11-09 01:46] jeffhollan opened #1 "Move site over"
@tomkerkhove I hooked up Netlify to this repo, and pointed [https://keda.sh](https://keda.sh) to it.  You should be  able to stick your code here.  In our contributor guide we’ll just enforce people need to open a PR on this repo if there are doc impacting features before they’ll get approved

[2019-11-09 06:38] tomkerkhove commented on #1
Is there a reason that it's a seperate repo? I was planning on pushing to the current one with folder /docs actually so that everything is in one PR.

Otherwise docs will very unlikely be added I think

Tom Kerkhove
Azure Architect at Codit, Microsoft Azure MVP

________________________________
From: Jeff Hollan <notifications@github.com>
Sent: Saturday, November 9, 2019 2:46:52 AM
To: kedacore/ke

[2019-11-12 18:16] tomkerkhove commented on #1
See discussion on https://github.com/kedacore/keda/pull/433

[2019-11-12 21:00] jeffhollan commented on #1
@tomkerkhove let me know if you want me to grab af we of the scalers or other sections and I can help add docs for them

[2019-11-13 14:12] tomkerkhove opened #6 "Provide docs on how to scale deployments"
Provide docs on how to scale deployments

[2019-11-13 14:12] tomkerkhove opened #7 "Provide docs on how to scale jobs"
Provide docs on how to scale jobs

[2019-11-13 14:13] tomkerkhove opened #8 "Provide docs for using Operator with KEDA"
Provide docs for using Operator with KEDA

[2019-11-13 14:31] tomkerkhove opened #9 "Provide docs on using KEDA with HTTP scaling"
Provide docs on using KEDA with HTTP scaling via Osiris.

Current docs we had on `kedacore/keda`:

[2019-11-13 15:10] tomkerkhove opened #10 "Provide getting started"
Getting started page should walk new folks through the following steps:
1. Installing KEDA
2. Deploying deployment
3. Deploying the trigger auth
4. Deploying the scaled object
5. Monitor with KEDA dashboard

[2019-11-13 15:19] tomkerkhove commented on #10
This is a good example imo: https://docs.konghq.com/1.4.x/getting-started/quickstart/

[2019-11-15 07:15] #1 closed

[2019-11-15 16:34] tomkerkhove opened #25 "Provide docs on how to authenticate with TriggerAuthentication"
Provide docs on how to authenticate with TriggerAuthentication

[2019-11-15 16:37] #7 closed

[2019-11-15 16:37] #6 closed

[2019-11-15 16:47] tomkerkhove opened #29 "Install WIP GitHub app"
Install WIP GitHub app to avoid merging PRs that  are marked as WIP.

https://github.com/apps/wip

[2019-11-15 16:48] jeffhollan commented on #29
Done

[2019-11-15 16:48] #29 closed

[2019-11-15 16:55] tomkerkhove opened #30 "Should we list who's supporting KEDA?"
Should we list who's supporting KEDA?

In the main repo we have listed Microsoft & Red Hat which we might want to list in the community section as well? If other companies, let's say AWS, contribute we can add them as well.

[2019-11-15 16:56] jeffhollan opened #31 "Add nav bar and footer for samples"
Thinking we add one more link for samples that links to the samples repo on GitHub?

Thoughts @tomkerkhove

[2019-11-15 16:57] jeffhollan commented on #30
Yeah we could likely add a “members” fragment to the root page and for now just red hat and Microsoft (and Codit)

[2019-11-15 17:02] tomkerkhove commented on #31
Sounds good to me.

I was also wondering if we could "highlight" 3-6 samples underneath "Scalers" on the landing page with a similar flow?

[2019-11-15 17:12] tomkerkhove commented on #30
That sounds good to me but we should keep the list brief so that the landing page doesn't get too long, or not?

Open to anything

[2019-11-15 17:18] jeffhollan commented on #30
Yeah either way. Even if you have your own side company. I don’t mind if we include other orgs that have provided significant impact or investment. Up to you but I’m on with it

[2019-11-15 17:33] tomkerkhove commented on #30
Sure, I'll have a look at this

[2019-11-16 15:05] #30 closed

[2019-11-16 15:07] #31 closed

[2019-11-17 09:25] tomkerkhove commented on #9
I haven't tried this before so:
- Do we have a sample for this?
- What docs should we add?
- How do KEDA and Osiris work together or is this purely Osiris?

Do you know @jeffhollan?

[2019-11-17 18:29] #25 closed

[2019-11-17 18:31] jeffhollan commented on #9
No. Not existing

I’m not sure we add much. If we did add something it would be in like the FAQ I think about “can KEDA scale HTTP requests”

Purely Osiris.  Osiris does 0-1 scaling for HTTP (as well as other alternatives like Knative or OpenFaaS).  If you wanted to do HTTP scaling 1->n based on request rate you *could* use KEDA, but I think what we’d recommend is something like the frontend or in

[2019-11-18 11:35] tomkerkhove commented on #9
Interesting, let me put it otherwise - If Azure Function customers move to Kubernetes and they use HTTP trigger; what would be your guidance then?

This feels like a gap in the guidance/docs imo 🤔

[2019-11-18 15:50] tomkerkhove commented on #8
I think this can be closed, right @jeffhollan ? Or shall we rename it to Operator Hub?

[2019-11-18 16:02] jeffhollan commented on #8
Yes I think we could close

[2019-11-18 16:13] #8 closed

[2019-11-18 16:48] tomkerkhove opened #46 "What are the requirements for the external scaler?"
What are the requirements for the external scaler? From the docs it's not really clear how to use it and how/what the target endpoint should respond.

Can you elaborate a bit on this @ahmelsayed?

[2019-11-18 16:50] jeffhollan commented on #9
My guidance to them would be for now they'd have to rely on Kubernetes standard HPA scaling unless they are using an ingress controller that supports RPS scaling.

But would be on this doc https://docs.microsoft.com/en-us/azure/azure-functions/functions-kubernetes-keda

Which I plan to update today with latest KEDA info. I can include a blurb about this

[2019-11-21 16:30] tomkerkhove opened #49 "Document required Kubernetes version"
We should document required Kubernetes version for new users under deploy as a prerequisite.

[2019-11-21 16:30] tomkerkhove commented on #49
@ahmelsayed What version do we need?

[2019-11-24 10:58] tomkerkhove opened #51 "Provide new scaler template"
Provide a template that can be used to document new scalers so that all scalers use a similar doc approach.

The template should come with a brief doc describing what the goal is and what should be documented.

[2019-12-16 17:50] zroubalik opened #59 "Calendar link for Community call is missing"
There is a calendar link for Community call on https://github.com/kedacore/keda#community but is missing in the respective section on https://keda.sh

[2019-12-16 17:57] tomkerkhove commented on #59
It's still open for review on https://github.com/kedacore/keda-docs/pull/52

[2019-12-16 18:12] zroubalik commented on #59
Sorry, haven't noticed

[2019-12-16 18:49] tomkerkhove commented on #59
No worries man! Merged.

[2019-12-16 18:49] #59 closed

[2019-12-16 18:49] tomkerkhove commented on #59
And thanks for checking!

[2020-01-02 21:28] zroubalik commented on #49
I'd stick to >= 1.13

[2020-01-03 09:06] tomkerkhove commented on #49
Apparently it's already documented under FAQ > "What are the prerequisites for using KEDA?" that it requires Kubernetes cluster >= 1.11.10 but we might want to bump it to 1.13

[2020-01-09 18:11] jeffhollan opened #63 "Document how the blob scaler works and 5000 limit"

[2020-01-09 18:18] jeffhollan opened #64 "Document how to debug 1-> n scaling"
Explain how to describe hpa to debug if 1->n isn't working

[2020-01-09 18:19] tomkerkhove commented on #64
Ok if I move it to kedacore/keda as it's a dev thing?

[2020-01-09 18:28] tomkerkhove opened #65 "Update companies contributing in "partnership" section"
Update companies contributing in `Partnership` section to not only list Microsoft & Red Hat.

[2020-01-14 11:26] tomkerkhove commented on #9
It's documented in FAQ, so closing for now.

[2020-01-14 11:26] #9 closed

[2020-01-29 15:01] #65 closed

[2020-01-30 07:12] tomkerkhove opened #75 "Move architecture schematic to repo"
On [KEDA Architecture](https://keda.sh/concepts/overview/#how-keda-works) we have a visual representation of how KEDA works.

It would be good if we could move the original graphic file to the repo to make changes on it.

Do you have this somewhere @jeffhollan?

[2020-01-30 22:24] jeffhollan commented on #75
Yeah I think it was a powerpoint. Let me see if I can dig it up

[2020-01-30 22:26] jeffhollan commented on #75
[KEDA architecture.pptx](https://github.com/kedacore/keda-docs/files/4136527/KEDA.architecture.pptx)

[2020-02-14 07:15] tomkerkhove commented on #51
@melmaliacone If you are interested, feel free to have a look at this one and tell me if you find this valuable or not.

[2020-02-14 15:06] melmaliacone commented on #51
I think this is a great idea. I was actually thinking yesterday that I wished the scaler documentation was standardized since it varies a lot from scaler to scaler.

[2020-02-14 17:04] tomkerkhove commented on #51
Great to hear!

[2020-02-18 07:16] #75 closed

[2020-03-05 07:04] tomkerkhove opened #104 "Provide guidance how to build an external scaler"
Our current [external scaler](https://keda.sh/scalers/external/) docs are very basic, we should enrich them in what it requires to be an external scaler.

Things it should cover are:
- What does it need to expose
- What are the data contracts that are required
- ..

Providing an OpenAPI spec for this might be a good option?

[2020-03-05 07:05] tomkerkhove commented on #104
@ahmelsayed @TsuyoshiUshio can you give some insights on this?

[2020-03-09 18:42] tomkerkhove opened #106 "Transfer Netlify account to CNCF tenant"
Transfer Netlify account to CNCF tenant

[2020-03-10 03:37] tomkerkhove commented on #106
@caniszczyk I've created a "KEDA" site in "KEDA" team and everything is wired up.
Feel free to let me know if you need anything else other than DNS

[2020-03-10 03:41] tomkerkhove opened #108 "Transfer keda.sh DNS to CNCF"
Transfer keda.sh DNS to CNCF

[2020-03-10 03:41] tomkerkhove opened #109 "Remove old Netlify account"
Remove old Netlify account which we used before CNCF donation.

Follow-up of #106

[2020-03-11 19:51] caniszczyk commented on #108
@tomkerkhove ideally we could just use Netlify DNS when LF owns the domain: https://app.netlify.com/teams/keda-7ntn70/dns

:)

[2020-03-11 19:55] tomkerkhove commented on #108
Certainly but @jeffhollan owns it AFAIK

[2020-03-13 11:34] tomkerkhove opened #113 "What is KEDA webinar"
@jeffhollan & myself did a webinar on KEDA this week and was thinking it might be a good asset for on the website.
https://www.youtube.com/watch?v=Ax-_xo0OgVw

Thoughts?

We could add it next to the KubeCon session or introduce some "Getting Started"/"Learn More"

[2020-03-16 10:16] zroubalik commented on #113
Great idea! I think that introducing a new section makes a perfect sense, so we can add more content in the future.

[2020-03-17 15:55] caniszczyk opened #117 "Update KEDA.sh footer to standard LF/CNCF footer"
I'd update it to:

© KEDA Authors 2014-2020 | Documentation Distributed under CC-BY-4.0© 2020 The Linux Foundation. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our Trademark Usage page.

Also linking to the trademark usage/policies page, see Prometheus as an example: https://prometheus.io/

[2020-03-17 17:18] #117 closed

[2020-03-18 14:03] tomkerkhove opened #119 "We should document that we leverage multiple sources in the architecture docs"
We should document that we leverage multiple sources in the architecture docs.

Something similar to the following, but prettier.

Without:
![image](https://user-images.githubusercontent.com/4345663/76968604-7d995d80-6929-11ea-9d97-7db96af5c0c0.png)

With KEDA:
![image](https://user-images.githubusercontent.com/4345663/76968601-7bcf9a00-6929-11ea-8c80-ec590e6c63f0.png)

[2020-03-18 14:03] #106 closed

[2020-03-19 17:54] tomkerkhove commented on #109
Lemme know if I can help @jeffhollan

[2020-03-19 17:55] tomkerkhove commented on #113
Will pick this up at some point

[2020-03-23 03:01] so0k commented on #119
This is a great visualisation, the next question that pops in my head seeing this is: "why the need for ScaledObject CRD and not use HPA" I guess because KEDA is not an external metrics provider and is just the direct provider for it's own CRD (still not clear why this approach instead of the upstream one)

That might also help clarify why one would consider KEDA if you already have a central metr

[2020-03-23 13:13] tomkerkhove commented on #119
KEDA is an external metric provider for a variety of external systems, including Prometheus. We use ScaledObject CRD because we are building on top of HPA (not replacing) and provide additional features such as scale to 0.

KEDA scans for ScaledObjects and interprets the required triggers to monitor those systems and provide metrics for those so that the HPA will be created on the fly and scaled b

[2020-03-25 15:48] so0k commented on #119
well, DataDog external metrics provider "are for just those systems" - is kind of moot if you channel all your metrics through them... no? You don't need KEDA if you already scrape your job queue length into datadog or scrape microservice endpoints which give you business metrics which you may want to scale no, right?

[2020-03-25 15:53] tomkerkhove commented on #119
If everything is in Datadog then you should be good to go, we provide multiple platforms so that you can use same approach for all; not implying we are doing a better job or so - Don't get me wrong!

You can use one or the other indeed!

[2020-03-26 08:20] tomkerkhove commented on #108
This seems to be done, ok to close @caniszczyk ?

[2020-03-26 08:20] tomkerkhove commented on #109
Can you take a look at this @jeffhollan ?

[2020-03-31 13:54] #108 closed

[2020-04-01 06:29] tomkerkhove opened #126 "Reduce padding for page headers"
Page headers have a lot of padding, would be good if we could reduce that a bit.

![image](https://user-images.githubusercontent.com/4345663/78105989-bf7ad700-73f2-11ea-81dc-35f640a3a273.png)

[2020-04-01 06:29] tomkerkhove commented on #126
I presume it's ok to just change the CSS for this or do you want to pick this up @lucperkins?

[2020-04-01 08:58] zroubalik opened #127 "Unify contents of Community sections"
Community section on the main page is listing supporting companies:
<img width="1454" alt="Community - main page" src="https://user-images.githubusercontent.com/726523/78118504-65d0d780-7407-11ea-8d70-8266544319e2.png">

The separate Community page is missing this part:
<img width="1279" alt="Community - separate page" src="https://user-images.githubusercontent.com/726523/78118590-813be280-7407-11

[2020-04-01 09:00] tomkerkhove commented on #127
I can take a look if you want? But will most probably be duplicated then unless @lucperkins has a more optimized way

[2020-04-01 09:05] zroubalik commented on #127
@tomkerkhove it's up to you 😄  Per @lucperkins [comment](https://github.com/kedacore/keda-docs/pull/124#issuecomment-606819018) part of that page is already unifed and synced. I think it could be nice to sync the companies info as well.

[2020-04-01 09:42] tomkerkhove commented on #51
Done via https://github.com/kedacore/keda-docs/pull/124 and is documented on https://github.com/kedacore/keda-docs#adding-scaler-documentation

[2020-04-01 09:43] #51 closed

[2020-04-01 09:46] tomkerkhove commented on #127
Ok I won't be able to pull this off as they are configured here: https://github.com/kedacore/keda-docs/blob/master/config.toml#L232

[2020-04-01 10:04] tomkerkhove opened #130 "FAQ URL is broken with new design"
`https://keda.sh/faq/` is now `https://keda.sh/docs/faq/` for example.

Question is, do we want to align to new approach or revert?

[2020-04-01 10:05] tomkerkhove opened #131 "Document how to deploy with Azure Function Core Tools"
Document how to deploy with Azure Function Core Tools on https://keda.sh/docs/deploy/.

[2020-04-02 06:32] #126 closed

[2020-04-02 07:47] #127 closed

[2020-04-02 13:13] #130 closed

[2020-04-04 07:35] tomkerkhove commented on #113
It's live - https://keda.sh/resources/#application-autoscaling-made-easy-with-kubernetes-event-driven-autoscaling-keda

[2020-04-04 07:35] #113 closed

[2020-04-06 11:21] shaikatz opened #135 "Docs are not versioned"
Hi,

I've read through the docs about how to use AWS scalers, and added `identityOwner` just to find out that this feature was not relased yet.

It could be nice if there will be a version picker in the docs, to make sure the user understand he is reading the latest unreleased versioned docs.

[2020-04-06 12:18] tomkerkhove commented on #135
_Moved issue to docs repo._

Fair request @shaikatz!

[2020-04-06 12:19] tomkerkhove commented on #135
Any recommended approach for this @lucperkins other than version folders and duplicating it?

[2020-04-07 14:58] zroubalik commented on #135
+1 we should prepare this for v2.0 release. As some documentation will be changed.

[2020-04-08 10:01] zroubalik opened #136 "In the Community section there are listed Users instead of Partners"
In https://keda.sh/community/#partners section, there should be supporting companies of our community, but there are listed Users.

It is correct on the main page https://keda.sh/, see the difference between Users/Community part over there.

[2020-04-08 12:24] #136 closed

[2020-04-08 20:54] zroubalik commented on #49
@tomkerkhove let's bump it to 1.13

[2020-04-08 21:14] zroubalik commented on #138
Agree, we should fix diagrm as `Kubernetes API Server` is more suitable naming.

[2020-04-08 21:18] aminebizid opened #139 "Débug outside cluster"
Someone could write a walkthrough on how to debug Keda outside the cluster using vscode.

[2020-04-08 21:18] zroubalik commented on #139
We should add section on debuggin into Readme.md or FAQ section of docs

[2020-04-09 06:23] tomkerkhove commented on #138
In here you mean?
![image](https://user-images.githubusercontent.com/4345663/78864182-6dadfe80-7a3b-11ea-9bc2-8f72b97ba253.png)
[source](https://github.com/kedacore/keda-docs/blob/master/schematics.pptx)

If so, I can pick that up.

[2020-04-09 06:24] tomkerkhove commented on #49
I'll pick this up!

[2020-04-09 11:07] #49 closed

[2020-04-09 11:08] zroubalik commented on #138
@tomkerkhove yes! thx

[2020-04-09 14:44] #138 closed

[2020-04-12 12:20] tomkerkhove opened #144 "Restructure deploy docs to list install & unistall as part of one section"
Restructure deploy docs to list install & unistall as part of one section, ie focussed on Helm.

Today we have install with all options and uninstall with all options which is less ideal.

[2020-04-12 12:20] tomkerkhove commented on #144
Waiting for https://github.com/kedacore/keda-docs/pull/143 to be merged.

[2020-04-20 08:17] tomkerkhove commented on #135
So let's do this right from the get go to save @lucperkins a lot of time:
- We'll version main docs
- We'll version per-scaler docs

[2020-04-20 08:51] zroubalik commented on #135
thanks @lucperkins for doing this!

[2020-04-20 09:07] tomkerkhove commented on #104
@ahmelsayed @zroubalik Can you guys help with this? What does it take to be a good external scaler?

If we have that, I can provide an OpenAPI spec to comply with.

[2020-04-20 21:13] lucperkins commented on #135
To be clear, this is not getting it right from the get-go and is not saving me time. This is a significant time expenditure that could have been saved had this been brought to my attention initially. In future projects, I'd strongly suggest choosing versioned vs. non-versioned as early as possible, as they require completely separate setups.

[2020-04-21 06:00] tomkerkhove commented on #135
Our scalers are released with the core for now so a general version seems like the best approach imo.

Our concepts are going to change with v2.x since our specifications will change so those should be covered as well.

What I think is best is to have:
- `https://keda.sh/docs/concepts/` & `https://keda.sh/scalers/<scaler>/` --> Latest docs
- `https://keda.sh/v1.4/docs/concepts/` & `https://keda.sh

[2020-04-21 06:13] lucperkins commented on #135
On second thought, could one of the maintainers provide a rationale for versioning? I get that there is an issue in this particular case, but are there indicators that many users will have problems like this? Will there be a significant number of users who are "stuck" on 1.4 after 2.0 is released? How different will the 2.0 docs be from the 1.4 docs?

I ask mostly because there doesn't seem to be

[2020-04-21 06:19] shaikatz commented on #135
The concept page also includes a list of scalers, architecture, CRD description.
Those things can definitely change between versions.
I like @tomkerkhove proposal, which is standard in a lot of grown-up OSS projects.

[2020-04-21 06:52] tomkerkhove commented on #135
@lucperkins Issue is that every new release we provide new features for our scalers as well so we just add them to the current docs for now; but if you are 2 versions behind that only confuses/frustrates people since they try the new feature but isn't around yet.

Going from v1.4 to v2.0 is just an example of changes that will happen to the concepts; but for minor version increments we can update

[2020-04-22 06:22] tomkerkhove commented on #104
Apparently protobuf schema is the way to go for gRPC, added issue on https://github.com/kedacore/external-scalers/issues/3 to provide one

[2020-04-23 07:11] hmoravec opened #148 "Extend How can I use KEDA in a proxy network? troubleshooting docs"
The solution described in How can I use KEDA in a proxy network? troubleshooting docs cannot be used in managed Kubernetes clusters like GKE or EKS: https://keda.sh/docs/troubleshooting/

It would be helpful to extend this section with solution for common cloud providers:

- GKE: Add default prom-adapter port 6443 to allowed ports in master node firewall rules. I tested this and it's working.
  -

[2020-04-23 08:16] zroubalik commented on #148
@hmoravec do you feel like you could contribue this change to the docs? 😃

[2020-04-23 09:22] tomkerkhove commented on #148
THat's good feedback indeed, thanks @hmoravec!

[2020-04-23 12:44] ppatierno opened #150 "Blog post proposal about Strimzi + KEDA"
Hi,
would you interested in a blog post talking about using Strimzi for deploying Kafka and leveraging the KEDA scaler for autoscaling Kafka Streams application?

[2020-04-23 12:50] tomkerkhove commented on #150
I've added it to our standup agenda, feel free to join next week to discuss!

Feel free to draft a propsal on Google Docs if you are bored to get an idea of what you are proposing.

[2020-04-24 13:23] abhirockzz opened #153 "Add scale limit for Kafka scaler (capped to no. of topic partitions)"
Kafka scaler will not scale the Deployment (or Job) beyond the no. of partitions of the given topic irrespective of the `maxReplicaCount`. This should be mentioned here https://keda.sh/scalers/apache-kafka/

[2020-04-24 13:48] tomkerkhove commented on #153
One might argue we should enforce this and consider the scaledobject invalid if it's higher than the max partition count (if we can access that info of course)

[2020-04-24 13:48] tomkerkhove commented on #153
Transferring to core to discuss.

[2020-04-24 19:37] lucperkins commented on #135
@tomkerkhove What's the current version of the scalers?

[2020-04-27 05:46] tomkerkhove commented on #135
@lucperkins They are 1.4, same as the core

[2020-04-29 07:08] #144 closed

[2020-05-04 06:32] tomkerkhove commented on #150
We are happy to have one of those posts @ppatierno - What would the outline be for that post?

[2020-05-04 06:38] ppatierno commented on #150
@tomkerkhove I was thinking about scaling Kafka Streams API application using the JMX metrics exposed by this application itself and the Prometheus scaler; the Kafka scaler will be not in the picture because it's already used in one of the quickstarts you have in KEDA.
Anyway, I have no deadline for this blog post so don't hold your breath. I will work on it in my spare time providing an update as

[2020-05-04 16:11] zroubalik opened #161 "[v2] Document new features and capabilites"

[2020-05-04 16:11] zroubalik opened #162 "[v2] Document ScaledObject Spec"

[2020-05-04 16:12] zroubalik opened #163 "[v2] Document ScaledObject Spec"

[2020-05-05 10:56] tomkerkhove commented on #150
Sounds great, thanks!

[2020-05-07 14:24] jainshikha opened #164 "does KEDA works with azure BLOB trigger function app??"
Created the blob azure function and tried to deploy it on minikube KEDA, am unable to see the HPA for blob trigger.
tried to use the YMl provided in :
https://keda.sh/scalers/azure-storage-blob/

[2020-05-08 08:28] #148 closed

[2020-05-12 08:53] tomkerkhove commented on #164
I think this is more of an Azure Function question, no?

[2020-05-12 08:56] tomkerkhove opened #167 "Duplicate scalers are listed on home page"
Duplicate scalers are listed on home page when using multiple versions of our docs.

[2020-05-12 08:56] tomkerkhove commented on #167
Is this something you can have a look at @lucperkins?

Sorry but looks like it slipped through in #151

[2020-05-12 16:03] lucperkins commented on #167
@tomkerkhove Can you clarify? I'm not seeing an issue.

[2020-05-13 09:19] zroubalik opened #174 "https://keda.sh/docs/deploy/ link is broken"
It was used in the https://github.com/kedacore/keda#deploying-keda to point users to the deployment option. This bug was brought be introducing versioned docs.

https://keda.sh/docs/deploy/ could link to the latests docs

[2020-05-13 09:24] tomkerkhove commented on #174
A redirect for this would be ideal actually!

[2020-05-13 17:58] lucperkins commented on #174
@tomkerkhove You shouldn't need a redirect for this. Just change the URL to https://keda.sh/docs/latest/deploy.

[2020-05-14 07:13] tomkerkhove commented on #174
That's good to hear; thanks!

[2020-05-14 07:19] tomkerkhove commented on #135
This is now done, thanks @lucperkins!

[2020-05-14 07:19] #135 closed

[2020-05-14 07:56] zroubalik commented on #174
Fixed!

[2020-05-14 07:56] #174 closed

[2020-05-18 09:01] zroubalik opened #179 "Links on index page to Concepts, Architecture,... are broken"
https://keda.sh/ ->
Links in the main section on the index page, (white buttons) are broken.
`Concepts, Deploying KEDA, Architecture, Scalers, Blog`

Probably because of migration to versioned docs.

[2020-05-18 09:59] zroubalik commented on #179
@lucperkins could you please look at that?

[2020-05-18 17:04] lucperkins commented on #179
You just need to update the links to the latest docs

[2020-05-21 23:24] ahmelsayed commented on #164
It is. The blob scaler should work with the one caveat mentioned in the notice  https://keda.sh/docs/1.4/scalers/azure-storage-blob/

Meaning you have to delete the blob after processing for it to work correctly. If you're not seeing any scaling happen then it can either be an azure functions tooling issue or a keda scaler issue.

The keda logs should point at the issue if you can get them `kubect

[2020-05-24 21:01] jeffhollan commented on #179
Yes seeing this too - now the docs are behind a version path like this
`https://keda.sh/docs/1.4/deploy/`
but the homepage links to
`/docs/deploy`

@tomkerkhove not sure if there is a way to redirect to a default version but this seems to be related to your version changes

[2020-05-24 21:04] jeffhollan commented on #179
I'm working on a quick mitigation to this by hardcoding in version 1.4 but we'll have to explore how this will work long term. PR incoming...

[2020-05-24 21:32] lucperkins commented on #179
@jeffhollan You don't need to hardcode. You can use `/docs/latest/*`.

[2020-05-26 16:01] #179 closed

[2020-06-01 07:12] jainshikha commented on #164
we can close the issue azure blob functions are working fine with KEDA when we move the files form blob

[2020-06-01 07:12] #164 closed

[2020-06-05 15:13] hmoravec opened #187 "Improve Scaling Jobs docs and jobs scaling logic"
Current documentation about jobs scaling is incomplete and the jobs scaler does not behave as one would intuitively expect.

The algorithm for spawning of new jobs is not described in detail in the docs. I would expect that:

1. When a job pulls a new task from the queue, it should dequeue it from the queue on the start.
2. The value of metric exposed by scaler should be the length of the queue (n

[2020-06-05 15:38] tomkerkhove commented on #187
We are working on setting better expectations around Jobs in v2.0 and think this is good input for our docs.
As far as I know this works how we are aiming for it, right @zroubalik?

@hmoravec Are you up for contributing improved docs on this front?

[2020-06-15 11:58] zroubalik commented on #167
@tomkerkhove home page is fixed, but there's the same issue on the scalers page: https://keda.sh/docs/1.4/scalers/

See buttons in the `Currently available schedulers for KEDA` sections

[2020-06-15 14:22] lucperkins commented on #167
A clarification: the goal of my work is primarily to put CNCF project maintainers in a position to succeed longer term with their site/docs. Thus far I’ve addressed problems as they’ve come up, but the intention is more for KEDA maintainers to be able to address these issues on their own over time. Could one of you perhaps attempt to address this issue first?

[2020-06-16 08:22] tomkerkhove commented on #167
I'm already working on it as @zroubalik mentioned but we're no experts so cannot guarantee we won't need your skills for this 😁

[2020-06-16 09:06] tomkerkhove commented on #167
Unfortunately it looks like I'll need your help as I'm not able to figure out how to determine the versions. Once I have those, I can get the job done.

This is what I have now - https://github.com/kedacore/keda-docs/pull/195

[2020-06-25 12:33] lucperkins commented on #167
@tomkerkhove Could you clarify what the issue is? I'm not seeing duplicated scalers on the home page.

[2020-06-26 05:58] #167 closed

[2020-07-15 10:10] tomkerkhove commented on #104
@ahmelsayed Can you pick this up given we have a lot of questions about this?

[2020-07-17 01:08] ahmelsayed commented on #104
Yes I'll take this.

[2020-07-24 13:57] therahulbhati opened #213 "RabbitMQ Scaler documentation not up to date"
Support for the triggerAuthentication has been added in https://github.com/kedacore/keda/pull/385, but it's not updated in the KEDA doc https://keda.sh/docs/1.5/scalers/rabbitmq-queue/#authentication-parameters

[2020-07-24 14:40] therahulbhati commented on #213
Yes, @tomkerkhove would love to contribute.

[2020-07-28 15:14] therahulbhati commented on #213
Hi, @tomkerkhove I have raised PR. Can you please review?

[2020-07-31 05:59] tomkerkhove commented on #104
Done for 2.0 in #193, previous version to follow

[2020-08-05 12:39] zroubalik commented on #162
Resolved in https://github.com/kedacore/keda-docs/pull/211

[2020-08-05 12:39] #162 closed

[2020-08-05 13:41] zroubalik commented on #161
Part of this is covered in #210,  #211 and #206

Let's keep this open until we are sure that everything is covered

[2020-08-12 17:13] TsuyoshiUshio opened #224 "[v2] Scaled Job configuration parameter support"
I noticed that these parameters are not implemented for v2.

[code]

We need to discuss the parameter of `parallelism` vs  `maxReplicaCount`.

* `parallelism` looks similar to `maxReplicaCount`.  The name of `replicaCount` might cause confusion. I'm not sure the backward compatibility of the `maxReplicaCount` (it was not working), one idea is migrate from `maxReplicaCount` to `parallelism` is the

[2020-08-12 18:18] zroubalik opened #225 "ScaledJob migration guide"
Add migration part for Jobs:
https://github.com/kedacore/keda-docs/blob/master/content/docs/2.0/migration.md

[2020-08-13 05:55] tomkerkhove commented on #224
I like `parallelism` over `maxReplicaCount` as the latter implies that you have a deamon with multiple instances and feels less job-like than parallelism

[2020-08-14 21:04] ahmelsayed commented on #104
This is done for 1.5 and 1.4 in https://github.com/kedacore/keda-docs/pull/221

[2020-08-14 21:04] #104 closed

[2020-08-15 05:38] tomkerkhove commented on #104
Thanks @ahmelsayed !

[2020-08-18 05:56] tomkerkhove opened #228 "Provide 404 page"
Provide 404 page

[2020-08-18 07:48] #228 closed

[2020-08-19 12:28] zroubalik commented on #225
@TsuyoshiUshio any update on this please?

[2020-09-09 06:31] tomkerkhove opened #248 "`namespace` is not documented for Azure Service Bus scaler"
`namespace`  is not documented for Azure Service Bus scaler when using pod identity.

Based on: https://github.com/kedacore/keda/blob/master/pkg/scalers/azure_servicebus_scaler.go#L118
Ref: https://github.com/kedacore/keda/discussions/1116

[2020-09-10 08:14] mavrick opened #249 "dead link Docs > Operate"
https://keda.sh/docs/1.5/operate/

The 404 page also lists links that just link back to itself.

dead link from the menu:
![image](https://user-images.githubusercontent.com/357659/92699829-68a9fe00-f391-11ea-9468-b04b3b1e8863.png)

[2020-09-10 12:33] tomkerkhove commented on #249
That's because it's only introduced in 2.0, will see if we can only show this for a given version but I'm not sure.

[2020-09-10 14:31] #248 closed

[2020-09-11 16:39] zroubalik opened #258 "Update KEDA logo and icons"
We should update web page with the new fancy logo :)

[2020-09-12 02:26] mavrick commented on #249
well well well, it works now ;)

[2020-09-12 02:26] #249 closed

[2020-09-18 07:01] therahulbhati commented on #213
Closing as the PR is merged.

[2020-09-18 07:01] #213 closed

[2020-09-23 21:08] iamalexmang opened #267 "YAML deployment instructions fail with a 404 error"
As per `content/docs/2.0/deploy.md`, 'If you want to try KEDA [...] you can still deploy it with kubectl'.

Seems that the YAML manifest referenced though is returning a 404 HTTP status code (https://github.com/kedacore/keda/releases/download/v2.0.0/keda-2.0.0.yaml).

[2020-09-24 07:19] tomkerkhove commented on #267
Thanks for the report! It's fixed in https://github.com/kedacore/keda-docs/pull/268.

You can do `kubectl apply -f https://github.com/kedacore/keda/releases/download/v2.0.0-beta/keda-2.0.0-beta.yaml`

[2020-09-24 14:59] #267 closed

[2020-09-28 13:16] YourTechBud commented on #46
Here's a clear example on how to use it: https://keda.sh/docs/2.0/concepts/external-scalers/

All you need to do is:
- Create a ScaledObject with a trigger of type `external-push`. Don't forget to specify a `scalerAddress` which is `host:port` of your gRPC server.
- Create a gRPC server which implements the `externalscaler.proto`. An example is provided in the docs

[2020-09-28 21:59] ahmelsayed commented on #46
I think this can be closed, right @tomkerkhove

[2020-09-29 05:35] tomkerkhove commented on #46
Yes, I think so, thanks for the docs on this @ahmelsayed!

[2020-09-29 05:35] #46 closed

[2020-10-07 09:52] spoplavskiy opened #280 "Bug: Wrong link to scaler code in documentation"
The auto generated website with scaler documentation pointing to a wrong branch, when you click a "scaler code" button.

As an example:
On [Log Analytics Scaler](https://keda.sh/docs/2.0/scalers/azure-log-analytics/) web page "scaler source" button points to this page: https://github.com/kedacore/keda/blob/master/pkg/scalers/azure_log_analytics_scaler.go
But should point to this page: https://gith

[2020-10-09 11:51] zroubalik commented on #280
Good catch, this should be fixed, but we are planning to rename v2 branch back once 2.0 is out, so we can wait for a wihle.

[2020-10-25 16:55] jeffhollan opened #290 "AWS SQS sample has a syntax error"
Hey ! Shouldn't the `TriggerAuthentication.spec.SecretTargetRef.Name` point to the name of the secret where AWS creds are? In this case, it should be "test-secrets" rather than "keda-aws-secrets", right? https://keda.sh/docs/2.0/scalers/aws-sqs/#authentication-parameters

[2020-10-25 16:56] jeffhollan commented on #290
Text was flagged from the slack channel.  Need to update the example

[2020-10-26 05:51] tomkerkhove commented on #290
Jup, it should. THanks for hte PR!

[2020-10-26 05:52] #290 closed

[2020-10-27 20:43] TsuyoshiUshio commented on #225
https://github.com/kedacore/keda-docs/pull/254 Done

[2020-10-27 20:43] #225 closed

[2020-11-04 10:08] tomkerkhove commented on #280
Closing since this is fixed.

[2020-11-04 10:08] #280 closed

[2020-11-04 10:11] tomkerkhove commented on #258
Done

[2020-11-04 10:11] #258 closed

[2020-11-05 10:33] whaakman opened #302 "Scaleobject properties require a string instead of a integer"
The ScaledObject "azure-queue-scaledobject" is invalid:
* spec.triggers.metadata.maxReplicaCount: Invalid value: "integer": spec.triggers.metadata.maxReplicaCount in body must be of type string: "integer"
* spec.triggers.metadata.minReplicaCount: Invalid value: "integer": spec.triggers.metadata.minReplicaCount in body must be of type string: "integer"
* spec.triggers.metadata.pollingInterval: Inva

[2020-11-05 10:34] tomkerkhove commented on #302
Thanks, would you be open to send a PR?

[2020-11-05 13:43] whaakman commented on #302
PR coming your way :)

[2020-11-24 10:56] trondhindenes opened #314 "Documentation for AWS credentials is very hard to understand"
Before I post my comment, I do want to emphasise that I'm quite well versed in AWS and Kubernetes. Still, I'm having a very hard time understanding parts of the Keda documentation.

Sentences like "identityOwner - Receive permissions on the CloudWatch via Pod Identity or from the KEDA operator itself (see below)." - which pod are we talking about here? Isn't the keda operator running in a pod? Whe

[2020-11-26 19:09] tomkerkhove commented on #314
I'll come back to your feedback asap, this is very valuable; thanks for reporting!

[2020-11-30 10:35] tomkerkhove commented on #314
I don't have experience with AWS but will try to answer your questions:

Unfortunately this is AWS specific so can't help, sorry.

Authentication parameters are only supported on `TriggerAuthentication` where you can use these options.

In this case, this is the KEDA operator which will handle the authentication with the service provider (in this case AWS).

Maybe @nisan270390 can help here who im

[2020-11-30 22:26] trondhindenes commented on #314
Thanks! I think I understand - will poke a bit in the codebase aswell just to confirm my theories.

[2020-12-02 07:14] didier-durand opened #319 "keda.k8s.io -> keda.sh in entire doc"
Hi there,

Running https://github.com/kedacore/keda-docs/search?q=keda.k8s.io shows that there is still a lot of references to `keda.k8s.io` in the doc.

For 2.0, I understand that it should be changed to `keda.sh`

I am happy to do this work through a PR. Please, let me know.

Didier

[2020-12-02 07:53] tomkerkhove commented on #319
That would be a great PR, thanks!

[2020-12-02 08:26] didier-durand commented on #319
You're welcome!
Ok, I'll do that.

[2020-12-02 08:57] didier-durand commented on #319
I did the whole review: indeed, the only mentions of keda.k8s.io appear in branches for versions < 2.0. For 2.0 & 2.1, the branches contain only keda.sh

So, all good!

Closing

Didier

[2020-12-02 08:57] #319 closed

[2020-12-02 09:02] tomkerkhove commented on #319
No problem and thanks for cehcking!

[2020-12-07 14:27] rindoze opened #322 "Kafka Scaling Doc update"
I had been stumped by a Kafka scaler that wouldn't scale up to my target maxReplicaCount.
After investigation it turned out that the replicas will not exceed the number of partitions on a topic.
This is good behavior, as additional replicas above the partition count would not do anything; however, I could not find any documentation that mentioned this upper bound.
It would be helpful to add this t

[2020-12-07 14:52] tomkerkhove commented on #322
Definately needs to be documented; would you mind sending a PR please?

[2021-02-04 09:15] Ritikaa96 commented on #322
Hi @tomkerkhove  I didn't find any NOTE about it on the Kafka doc. should I create a PR on it?

[2021-02-04 10:02] tomkerkhove commented on #322
It's been a while, what note are you referring to?

[2021-02-04 10:07] Ritikaa96 commented on #322
@tomkerkhove About this one in case such confusion occur again:

[2021-02-05 06:55] tomkerkhove commented on #322
We are definately open for doc improvements on that, thanks!

[2021-02-05 08:41] Shubham82 opened #362 "Introduce latest version for FAQ & troubleshooting"
When I am trying to fix the link in README.md but i have some doubt in it i.e. in [this](https://github.com/kedacore/keda-docs#adding-scaler-documentation) the scaler redirect the page of faq to 2.0, i want to change it to 2.1 i.e. latest one. one method is that i put 2.1 in the link like this` https://keda.sh/docs/2.1/faq/`  and same with the  troubleshooting page in  [this](https://github.com/ke

[2021-02-05 09:23] Ritikaa96 commented on #322
Hi @tomkerkhove, Thanks for the go-ahead. I've created a PR : #363 for the issue.

[2021-02-05 10:21] Shubham82 commented on #362
Hi @tomkerkhove @zroubalik
Could you please take a look.

Thanks.

[2021-02-05 14:49] tomkerkhove commented on #362
I'm not sure if I'm following, so the issue you are having is that https://keda.sh/docs/faq and https://keda.sh/docs/troubleshooting are dead links?

[2021-02-05 15:23] Shubham82 commented on #362
yes, they are the dead links.

Current links:
faq     `https://keda.sh/docs/2.0/faq/`   --> link to previous document not the latest one.
troubleshooting    `https://keda.sh/docs/troubleshooting`  --> dead link.

workaround:
faq     ` https://keda.sh/docs/2.1/faq/`
troubleshooting: `https://keda.sh/docs/2.1/troubleshooting/`

This is specific to version. i want to do like way which is done in scal

[2021-02-05 15:38] tomkerkhove commented on #362
For now the workaround is required, but we should introduce a latest for them as well.

[2021-02-05 15:46] Shubham82 commented on #362
ohk, For now i will create a pr for that.
Thanks for title.

[2021-02-05 15:47] Shubham82 commented on #362
any suggestion what we have to do for latest version as it is mention in config.toml still it is not using that.
it help me  in investigating the things.

[2021-02-05 15:54] Shubham82 commented on #362
@tomkerkhove  one more thing should i also modify this
`cp -rf content/docs/2.0.0 content/docs/2.1.0` to  ` cp -rf content/docs/<CurrentVersion> content/docs/<NewVersion>`  in[ Working with documentation versions](https://github.com/kedacore/keda-docs#working-with-documentation-versions)  It seems specific not general.

[2021-02-08 07:13] #322 closed

[2021-02-08 11:14] tomkerkhove commented on #362
Sounds good to me, thanks!

[2021-02-08 11:16] tomkerkhove commented on #362
I'll take a look at this since I think we just have to add it here:
https://github.com/kedacore/keda-docs/blob/master/layouts/index.redirects

Unless you want to give this a go first @Shubham82?

[2021-02-08 11:52] Shubham82 commented on #362
I would a like to work on it.
Thanks a lot @tomkerkhove

[2021-02-09 06:59] Shubham82 commented on #362
I have created a PR for it in #365

[2021-02-09 07:19] #362 closed

[2021-02-18 04:51] Rachi11 opened #370 "KEDA authentication with Azure Monitor"
Can you please elaborate if we can use Azure Application Insights metric as KEDA trigger ?  If this scenario is possible, can you please explain how KEDA will read the Azure Application Insights metric ?

[2021-02-18 10:24] #370 closed

[2021-02-19 16:09] ezYakaEagle442 opened #375 "FAQ is still using 1.0 as production ready"
FAQ states :

_Can KEDA be used in production?
Yes! KEDA is now 1.0 and suited for production workloads._

Should be updated now KEDA runs v2.x

[2021-02-19 16:11] ezYakaEagle442 opened #376 "Document KEDA secret management with Azure Key Vault + CSI secret store driver"
KEDA secret management with Azure Key Vault + CSI secret store driver is not documented at [https://keda.sh/docs/2.1/concepts/authentication/#secrets](https://keda.sh/docs/2.1/concepts/authentication/#secrets)

[2021-02-20 03:21] jeffhollan commented on #376
Not supported today, but I'd love to see KEDA TriggerAuth extended to know how to deal with this CSI pattern that Key Vault users https://github.com/kedacore/keda/issues/900

[2021-02-20 22:00] normkatz opened #378 "TLS Secret from Env for Redis List scaler"
For [Redis List trigger](https://keda.sh/docs/2.1/scalers/redis-lists/), you have:
enableTLS and I'm assuming the TLS key would be specified here:

authenticationRef:
      name: keda-trigger-auth-redis-secret

For password, you allow passwordFromEnv but I don't think you support redisSecretFromEnv yet.

Can you confirm both of the above and any plans to support Secret from Env?

[2021-02-22 06:29] #376 closed

[2021-02-22 06:30] tomkerkhove commented on #375
1.0 is still suitable for production, but yes that would be more up-to-date.

Are you willing to contribute this?

[2021-02-22 06:36] tomkerkhove commented on #378
Good question, maybe @goku321 can elaborate concerning `useTLS` because I'm not sure if you have to specify something

[2021-02-22 06:36] #378 closed

[2021-02-24 12:16] Shubham82 opened #382 "Changes Value in secrets to base64 encoded"
In MySQL  scaler [example](https://keda.sh/docs/2.1/scalers/mysql/#example) in documentation, The values for all keys in the data field in secrets should be base64-encoded strings. but in this it show as string.
[code]
if this change sounds legitimate i would like to do it.

Thanks.

[2021-02-24 12:58] tomkerkhove commented on #382
Are you up for sending a PR?

[2021-02-24 13:14] Shubham82 commented on #382
yes, it doesn't take me while to raising a PR for the same.

[2021-02-24 13:45] Shubham82 commented on #382
Create a PR of it here #383

[2021-02-24 14:08] #382 closed

[2021-03-01 19:58] rwkarg opened #384 "Document Control Plane to External Metrics Firewall requirements in GKE"
Kubernetes clusters with restrictive access from the Control Plane to Pods and that bypass Services and directly talk to the Pod IP:Ports (such as GKE) will require a Firewall ingress rule from the Control Plane IP range to port 6443 on the Pod subnetwork (or the Service Account of the node pool in the case of GKE).
GKE calls from the Control Plane to an in-cluster service will _not_ be sent to th

[2021-03-02 10:25] tomkerkhove commented on #384
We were actually just going to add this as we speak. (see https://github.com/kedacore/keda/discussions/1634#discussioncomment-408402)

Any other ports that we should include other than `443` @zroubalik?

[2021-03-02 16:52] rwkarg commented on #384
Port 6443 on GKE.

By default, GKE will route calls from the Control Plane directly to the Pod IP:Port for calls to a service, bypassing the Service IP:Port.

"Normal" cluster:
Control Plane --:443--> Service --:6443--> Pod

GKE cluster (default):
Control Plane --:6443--> Pod

[2021-03-03 21:20] tomkerkhove opened #387 "Provide overview of all the tools & products that we integrate with"
Provide overview of all the tools & products that we integrate with so that users know how to get the most out of them.

Follow-up for https://github.com/kedacore/governance/issues/14

[2021-03-04 08:53] #375 closed

[2021-03-04 22:51] arjaiswa opened #393 "Issue in Keda with Metric API"
I have used below scaled object. Whenever This is getting value from URL and value > target value then its performing scale up and as well as its deleting the same pod .
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: http-scaledobject
  namespace: default
spec:
  minReplicaCount: 0
  cooldownPeriod:  10
  pollingInterval: 3
  scaleTargetRef:
    name: dummy
  triggers:
    - typ

[2021-03-05 15:22] pragnagopa opened #396 "Fix documentation to point to right Yaml files"
Files mentioned  in https://keda.sh/docs/1.4/deploy/#yaml

- deploy/crds/keda.k8s.io_triggerauthentications_crd.yaml
- deploy/crds/keda.k8s.io_scaledobjects_crd.yaml

do not exist in `main` branch. Update docs to point to right files in V1

[2021-03-15 09:03] #384 closed

[2021-03-31 18:36] tomkerkhove opened #412 "Improve scaler catalog to be more user-friendly"
Over time, our scaler catalog has grown a lot over the last couple of releases where we have more than 30 of them today.

As a user, it's not that easy anymore to find the scalers you need and the navigation is not able to coop with it.

It would be good if we can:
- Make the navigation be more user-friendly in this case
- Integrate external scalers from the community to create a central place for

[2021-03-31 18:38] tomkerkhove opened #413 "Provide a catalog of tools/products integrating with KEDA"
Provide a catalog of tools/products integrating with KEDA so that people can understand how they can combine both to build scalable platforms.

The idea is to have a page similar to the scalers that lists all of them with a dedicated page that briefly explains what it does and how it uses KEDA.

Examples are Apache Airflow, Azure Functions, etc.

[2021-03-31 18:38] tomkerkhove commented on #413
This is what we've discussed @zroubalik, clear enough or should I add something?

[2021-04-06 17:21] tomkerkhove opened #415 "Provide Ketacoda course for using KEDA"
Provide Ketacoda course for using KEDA to allow people to give it a spin without setup.

https://www.katacoda.com/create

[2021-04-06 17:29] zroubalik commented on #413
LGTM!

[2021-04-23 11:01] Shubham82 opened #426 "Improvement: Remove the delete instructions for crds from deploying KEDA"
When we uninstall keda using helm i.e` helm uninstall -n keda keda`  then it delete crds also. so we don't need to delete it separately.
So it should be removed from the keda2.2.0 [docs](https://keda.sh/docs/2.2/deploy/#uninstall).

helm version: v3.5.4
kedacore/charts: 2.2.1
keda: 2.2.0
ref: https://github.com/kedacore/charts/pull/141

if its right then i will create a PR for it.

[2021-04-23 11:17] tomkerkhove commented on #426
Sure thing, thanks for the PR!

[2021-04-23 12:13] Shubham82 commented on #426
Fixed it here #427

[2021-04-23 12:23] #426 closed

[2021-05-04 00:47] coderanger opened #433 "Docs for metrics-api scaler incorrectly label types of settings"
### Report

Most of the settings listed under Authentication Parameters are actually trigger metadata instead. The examples do show things correctly (I think) but it's hard to understand if you're trying to write a config yourself.

### Expected Behavior

The docs should match reality.

### Actual Behavior

They do not.

### Steps to Reproduce the Problem

1. Read the docs.
2. Write bad code.

###

[2021-05-04 05:27] tomkerkhove commented on #433
Thanks for reporting @coderanger, I've moved it to our docs repo but can you elaborate on it please as I'm not sure I get your concern.

[2021-05-04 05:48] coderanger commented on #433
https://keda.sh/docs/2.2/scalers/metrics-api/#authentication-parameters indicates all the following keys are authentication params to be used in TriggerAuthentication objects. However most are not, they are trigger metadata and are defined in the trigger itself.

[2021-05-04 05:52] tomkerkhove commented on #433
I don't know the actual implementation, but some scalers allow you to pass this kind of information through trigger authentication as well for better management. If they are not accepted then they need to be removed indeed.

[2021-05-07 09:44] Shubham82 opened #435 "Value of key in secrets should be base64 encoded"
In MSSQL scaler [example](https://keda.sh/docs/2.2/scalers/mssql/#example) in docs, The values for all keys in the data field in secrets should be base64-encoded. But  it mentioned as a string as shown below:

[code]
we used stringData field if we want to mention string value. but for uniformity of the docs we should mentioned  base64 encoded value.

[2021-05-07 09:46] Shubham82 commented on #435
Hi @tomkerkhove @zroubalik
could you please take a look!

[2021-05-07 10:09] Shubham82 commented on #435
Fixed it here #436

[2021-05-07 11:38] #435 closed

[2021-05-10 12:57] tomkerkhove commented on #150
Are you stil interested in this @ppatierno ?

[2021-05-11 07:12] Shubham82 opened #442 "Improvement in Authentication docs for ClusterTriggerAuthentication"
In keda Authentication concept there is  a [Authentication scopes: Namespace vs. Cluster](https://keda.sh/docs/2.2/concepts/authentication/#authentication-scopes-namespace-vs-cluster) in which the following below things is  mentioned for ClusterTriggerAuthentication:
[code]
but for name it should be either {cluster-trigger-authentication-name} or {cluster-trigger-auth-name} instead of  {trigger-au

[2021-05-11 07:45] tomkerkhove commented on #442
`{cluster-trigger-authencation-name}` sounds good to me, thanks!

[2021-05-11 08:47] Shubham82 commented on #442
Thanks @tomkerkhove  for the response.
I will soon create a PR for it.

[2021-05-11 11:32] Shubham82 commented on #442
Fixed it here #443

[2021-05-11 11:35] #442 closed

[2021-05-18 13:12] zroubalik commented on #433
Can we get anybody who worked on this scaler to fix that?

[2021-05-24 11:00] Shubham82 opened #453 "Documentation for scaling strategies in ScalingJobs incorrectly rules for the number of job scale."
A clear and concise description of what the bug is.

In Scaling Jobs docs there is mentioned of different [scaling strategies](https://keda.sh/docs/2.2/concepts/scaling-jobs/#details) i.e default,custom,accurate. For every strategies there is also mentioned the rules for the number of job scale which is quite confusing i.e.
[code]
Here `queueLength`  creates confusion, Actually in the docs queueLe

[2021-05-24 11:08] Shubham82 commented on #453
Hi @tomkerkhove @zroubalik
could you please take a look!
if it is correct then i will raise a PR for it.

[2021-05-26 06:01] saurabrana opened #454 "Cloudwatc scaler documentation page does not specify details of all parameters"
### Report

Hi All,
I was working on integrating keda and was going through the documentation for AWS CloudWatch, but on the documentation page, I am not able to find details about the following parameters
targetMetricValue
minMetricValue

### Expected Behavior

All parameters should be documented

### Actual Behavior

No documentation

### Steps to Reproduce the Problem

Open page  https://keda.s

[2021-05-31 06:55] tomkerkhove commented on #453
@TsuyoshiUshio Can you review the above please?

[2021-06-02 03:15] Shubham82 commented on #453
Thanks, @zroubalik @TsuyoshiUshio for your response!

I will soon create a PR for it.

[2021-06-08 11:38] Shubham82 commented on #453
Fixed it here #465

[2021-06-22 07:59] #453 closed

[2021-06-22 12:45] robin-wayve opened #470 "Docs are difficult to read when browser width is constrained"
When my browser's width is constrained, the documentation becomes difficult to read because content overflows and is not scrollable.

## Expected Behavior

The style should allow the content column to be scrolled when the content overflows.

## Actual Behavior

The content is clipped and hidden from view with no possibility to scroll horizontally.

![Screenshot from 2021-06-22 13-41-25](https://us

[2021-06-22 13:39] tomkerkhove commented on #470
Makes sense, are you willing to jump in or are you not a frontend dev like me?😅

[2021-06-22 13:56] robin-wayve commented on #470
I'm a rusty full-stacker: I would be happy to pitch in with some pointers.

I wasn't able to hack my way out of this one neatly in the inspector. I thought it might be a simple case of slapping a `overflow: scroll` on something but it didn't seem so straightforward. I'm not familiar enough with Bulma to know if it has some built-in solution for responsive columns like this.

[2021-06-23 05:43] tomkerkhove commented on #470
No problem Robin, I'll check with CNCF.

[2021-06-29 11:33] jacksgt opened #475 "Consistent naming of KEDA acronym"
Hey,

I was recently looking up what the KEDA acronym stands for and came across these two conflicting versions:
https://github.com/kedacore/keda-docs/blob/442a89c68f4ef343c6f779e365c8574b1cb7d9ac/data/faq20.toml#L3
https://github.com/kedacore/keda-docs/blob/442a89c68f4ef343c6f779e365c8574b1cb7d9ac/content/docs/2.3/_index.md#L6

So, is it `Kubernetes-based Event Driven Auto-Scaler` or `Kubernetes

[2021-06-29 12:38] tomkerkhove commented on #475
That would e Kubernetes Event-driven Autoscaler, are you open to send a PR?

[2021-06-29 14:21] jacksgt commented on #475
Yes, I will do that. Thanks for the clarification!

[2021-06-29 14:35] #475 closed

[2021-06-30 07:09] #470 closed

[2021-08-09 23:14] JorTurFer commented on #139
I have the process fresh because I had to do it a few days ago. I think that it's not documented yet, so I will try to do it :)

[2021-08-16 16:14] joachimgoris opened #510 "Azure Blob Storage 2.x do not mention 'accountName'"
**Report**

The documentation of Azure Blob Storage fail to mention `accountName`. In the source code, we see this is required for all 2.x versions of the trigger when using podIdentity.

## Expected Behavior

The spec and examples in the document mention `accountName` and explain what it does.

## Actual Behavior

`accountName` is entirely missing.

## Steps to Reproduce the Problem

  1. Read th

[2021-08-24 22:12] rangarb885 commented on #314
I agree with @trondhindenes  point on `The only actual example is a very basic scenario of using hard-coded access key/secret - a scenario I believe is pretty uncommon to use in production.`

Unfortunately I don't have a go to page on Keda documentation to implement aws-eks based trigger setup. I
Can we have a complete example (including role, role-binding, sa requirements) for setting up KEDA (ex

[2021-08-25 06:44] tomkerkhove commented on #314
I'd be happy to help and write a walkthrough, but unfortunately I have no experience with AWS.

Once #1408 is resolved, are you up for contributing it?

[2021-08-25 14:10] rangarb885 commented on #314
Sure @tomkerkhove

[2021-08-26 11:46] Ritikaa96 opened #519 "Kafka Scaler- brokerlist should be removed from the example in document"
A clear and concise description of what the bug is.

As per : https://github.com/kedacore/keda/pull/882
brokerList for Kafka Scaler has been deprecated.
we can see it's mention on the example for metadata here: https://keda.sh/docs/2.4/scalers/apache-kafka/#trigger-specification

As this has been deprecated since v1.3 earliest, can we remove the mention now as not to confuse the user?

## Expected

[2021-08-26 12:55] #519 closed, assigned to nobody

[2021-08-30 03:07] alexgleith commented on #314
Hey @rangarb885 can you please provide some information here about how you're using it? We're trying to get role-based authentication working right now!

[2021-08-30 17:08] rangarb885 commented on #314
Hi @alexgleith: The easiest and quicker way to grant access for Keda to work with AWS SQS is to annotate the `keda-operator` service-account with AWS IAM role.  Let me put down the steps:

Prerequisites for below write-up:

1.  Make sure OIDC is enabled on EKS cluster. [Ref. AWS docs](https://docs.aws.amazon.com/eks/latest/userguide/enable-iam-roles-for-service-accounts.html)
2. keda is installed(

[2021-08-31 05:37] tomkerkhove commented on #314
Sounds like a great plan, thanks for proposing @rangarb885!

You can find our contribution guide on https://github.com/kedacore/keda-docs/blob/master/CONTRIBUTING.md and typically this information gets added to the scaler page but I see 2 other options here:
- Extend https://keda.sh/docs/2.4/concepts/authentication/#pod-authentication-providers
- Blog post
What do you think @zroubalik ?

[2021-08-31 06:42] trondhindenes commented on #314
@rangarb885 I'm pretty sure you don't need the `sts:AssumeRole` statement.
One way to find the correct statement is to use `eksctl` and look at the generated role and policies:

`eksctl create iamserviceaccount --name my-keda-thing --region="$REGION" --cluster "$CLUSTERNAME" --attach-policy-arn "$POLICY_ARN" --approve --override-existing-serviceaccounts`  (more doc at https://eksctl.io/usage/iamse

[2021-08-31 07:41] zroubalik commented on #314
I think that extending the pod authentication providers is better from a visibility for users (and maybe link that from the AWS scaler docs as well).

[2021-09-14 02:58] joshi-aparna commented on #396
I believe this issue could be closed now.

[2021-09-14 09:47] #396 closed

[2021-09-20 12:48] yxxhero opened #532 "[Feature request] Chinese doc support"
### Use-Case
Chinese doc support

[2021-09-20 12:49] yxxhero commented on #532
Multi-language support

[2021-09-22 08:19] tomkerkhove opened #540 "Unify parameter notation for all scalers"
### Discussed in https://github.com/kedacore/keda-docs/discussions/539

<div type='discussions-op-text'>

<sup>Originally posted by **JorTurFer** September 22, 2021</sup>
We don't have defined the notation that should be use when you are explaining things like parameters in docs. That's why you can find notations like these:
- `Parameter` - Description
- `Parameter`: Description
- `Parameter:` Des

[2021-09-22 08:53] tomkerkhove commented on #540
All scalers should follow this convention:

@JorTurFer is willing to pick this up, thank you!

[2021-09-22 09:05] JorTurFer commented on #540
The notation will be (just to remind it to myself):
`name` - Description.

[2021-09-22 09:13] JorTurFer commented on #540
One important thing @tomkerkhove ,
Should I update only v2.5 docs or all? I'm asking because IDK if changes in the old files are being deployed, I suppose that yes but just to double check it

[2021-09-22 09:35] tomkerkhove commented on #540
Yes, please update all versions

[2021-09-28 10:43] JorTurFer commented on #540
Hi @tomkerkhove ,
I'm working on this and I found that we are saying if the parameter is optional in different ways like:
- `name` - Optional. Description.
- `name` - Description. Optional.
- `name` - Description. *(Optional)*
- More ways those I haven't discovered yet

WDTY if I unify it also with, for example this?
- `name` - Description. Optional.

[2021-09-28 11:26] tomkerkhove commented on #540
Let's go with this:

[2021-09-29 07:12] tomkerkhove commented on #540
We should also document this convention in https://github.com/kedacore/keda-docs/blob/master/CONTRIBUTING.md (preferably a separate PR)

[2021-09-29 23:14] JorTurFer commented on #540
I'll do it when the "main PR" is ready to merge. I'll document how the parameters should be notated (I'd like to wait until we have a "final version there" because we are having to do some small changes in the pattern to match all cases)

[2021-10-06 09:02] #540 closed

[2021-10-08 21:21] arschles opened #548 "KEDA HTTP Addon documentation"
The [KEDA HTTP Addon](https://github.com/kedacore/http-add-on) project is readying to release a `v0.2.0` and we already have a significant amount of documentation. Currently, it's relatively disorganized in the [`docs/` directory](https://github.com/kedacore/http-add-on/tree/main/docs) (currently experimenting with the wiki in https://github.com/kedacore/http-add-on/pull/296) and it would be nice

[2021-10-11 12:58] tomkerkhove commented on #548
Agreed, I'm just thinking about *where*. We could have it as a "scaler" but then it has to be clear that it's not one out of the box.

[2021-10-12 11:05] tomkerkhove commented on #548
We have a Cosmos DB external scaler as well but I'm not sure if we should "treat them as special" external scalers.

I  think HTTP is maybe a bit more exceptional scenario here, but what I have in mind is:
- We introduce "Add-ons" or "Scaler Community" which lists all external scalers from https://artifacthub.io/packages/search?kind=8&ts_query_web=keda&sort=relevance&page=1 on our website (once di

[2021-10-16 17:51] tomkerkhove commented on #510
Done in #511

[2021-10-16 17:51] #510 closed

[2021-10-19 16:15] TheCase opened #556 "Documentation about AWS CloudWatch "default" metric parameters is incorrect"
Documentation about AWS CloudWatch "default" metric parameters is incorrect

## Expected Behavior
defaultMetricStat, defaultMetricStatPeriod and  defaultMetricCollectionTime should define how a metric is retrieved from CloudWatch.

## Actual Behavior
The documented parameter names are incorrect.  If you use the documented parameter names, the behavior remains at the defaults of "Average" and 300 s

[2021-10-20 18:37] #63 closed

[2021-10-20 18:37] #119 closed

[2021-10-20 18:37] #131 closed

[2021-10-20 18:37] #433 closed

[2021-10-20 20:41] TiagoGoddard commented on #314
Do keep in mind that the annotation to `eks.amazonaws.com/audience` isn't required when it's set to `sts.amazonaws.com` because that is it's default value.

Also, I wasn't able to find a reference for the `identityOwner` with value `aws-eks` for AWS CloudWatch Scaler, but it does seem to accept it.

[2021-10-21 13:36] TiagoGoddard commented on #314
I'll see what I can do. Right now, I'm trying to understand the internal working of KEDA and the AWS CloudWatch scaler. Still, I'll probably contribute to the documentation, especially the authentication part, if I can make head or tails of it.

[2021-10-26 05:51] #556 closed, assigned to nobody

[2021-11-10 13:11] tomkerkhove opened #577 "Provide overview of all external scalers"
Provide overview of all external scalers that are available.

This information should be based on Artifact Hub - https://artifacthub.io/packages/search?kind=8&sort=relevance&page=1

Kept is using a similar approach: https://keptn.sh/docs/integrations/

Relates to #412

[2021-11-10 17:09] arschles commented on #577
I like this idea @tomkerkhove. Do you think we should write a script to pull from Artifact Hub?

[2021-11-10 18:54] tomkerkhove commented on #577
Nope, they allow us to embed everything :) But I'll ask the CNCF to help us to revamp the whole experience with filters based on the categories.

[2021-11-16 07:24] tomkerkhove opened #581 "List of scalers in navigation does not support scrolling"
List of scalers in navigation does not support scrolling which makes it impossible to see the scalers at the end of the list.

[2021-11-16 07:25] tomkerkhove opened #582 "Website does not render correctly on mobile"
Website does not render correctly on mobile which makes you swipe to the right to see the navigation which has a white gap.

[2021-11-17 07:13] tomkerkhove commented on #109
This was removed but was still publishing our docs from that account.

DNS is being transferred to new Netlify account and is pending DNS update.

Related CNCF ticket is https://cncfservicedesk.atlassian.net/servicedesk/customer/portal/1/CNCFSD-1007

[2021-11-17 07:13] tomkerkhove commented on #532
Unfortunately we don't speak chinese, what would be your recommendation?

[2021-11-17 07:14] tomkerkhove commented on #150
Closing due to inactivity, feel free to re-open if you want @ppatierno

[2021-11-17 07:14] #150 closed

[2021-11-17 07:14] tomkerkhove commented on #548
I'm adding this to our Documentation Improvements to see how we can further improve this

[2021-11-17 07:32] tomkerkhove commented on #109
https://keda.sh/ is up, but TLS certs still to be shipped, pending DNS propagation

[2021-11-17 08:06] tomkerkhove commented on #109
We are up!

[2021-11-17 08:06] #109 closed

[2021-11-17 08:11] tomkerkhove opened #584 "Switch default branch from master to main"
Switch default branch from master to main

[2021-11-17 10:48] yxxhero commented on #532
At present, like k8s, it can support multiple languages, put them in different directories, such as en Zh, etc., and then contribute through the strength of the community. @tomkerkhove

[2021-11-17 23:23] chalin commented on #582
Are there specific issues that you'd like addressed, other than the horizontal scrolling of some of the pages like the homepage:

/cc @nate-double-u

[2021-11-18 06:31] tomkerkhove commented on #582
I think that's about right, unless you have other issues @zroubalik ?

[2021-11-18 11:05] chalin commented on #582
Related: https://github.com/kedacore/keda-docs/discussions/503

[2021-11-18 11:14] chalin commented on #581
The list is too long, from a design perspective we shouldn't be trying to list them all in a top-nav dropdown menu, nor the left sidenav IMHO.

As you probably have noticed, this is how [keptn.sh](https://keptn.sh/docs/) is setup:

<img width="1010" alt="Screen Shot 2021-11-18 at 6 10 52 AM" src="https://user-images.githubusercontent.com/4140793/142405114-d2075480-8602-4c0b-8a63-155ee4320f1a.png">

[2021-11-18 11:16] chalin commented on #577
Are the cards used to display scalars on the homepage, the kind of card you'd like used on the Scalars page too?

Screenshot from the homepage:

[2021-11-18 12:28] tomkerkhove commented on #581
It definately is OK for me as we want to start introducing categories. What do you think @kedacore/keda-maintainers?

[2021-11-18 12:30] tomkerkhove commented on #577
We don't have a strong requirement on the info but would be nice to surface the name, availability and categories that we'd like to introduce.

[2021-11-18 22:58] arschles commented on #548
Sounds good @tomkerkhove. I've closed https://github.com/kedacore/http-add-on/pull/296 for now. Will keep all documentation in the `docs/` repository in the HTTP Addon repository for now until you tell me otherwise. Also I'm happy to close #554 and wait if you have bigger ideas. Let me know

[2021-11-19 07:03] tomkerkhove commented on #548
Sounds like a good idea, but feel free to keep #554 open!

[2021-11-22 08:19] tomkerkhove opened #589 "Improve end-user overview to be more user-friendly"
Improve end-user overview to be more user-friendly now that we are growing.

The idea is to annotate every end-user with a category that can be used to filter, for example "all end-users in the public sector".

[2021-11-22 08:20] tomkerkhove commented on #387
Duplicate of #413

[2021-11-22 08:20] #387 closed

[2021-11-23 07:37] zroubalik commented on #582
Yeah, that's the main problem imho, thanks @chalin

[2021-11-23 07:37] zroubalik commented on #581
OK for me :)

[2021-11-23 15:03] #581 closed

[2021-11-23 15:38] tomkerkhove opened #594 "Use Google Analytics to better understand end-users"
Use Google Analytics to better understand end-users and where to prioritize improvements.

A notice on this should be added according to GDPR.

[2021-11-25 00:10] JorTurFer opened #596 "Improve docs for Azure Pipelines scaler"
There are several users who have problem with this scaler and in particular with the `poolID`.
Doc doesn't explain explicitly how to get the `poolID` apart from the comment in the line that it's not totally visible
`Can be retrieved by the REST API call https://dev.azure.com/{organizationName}/_apis/distributedtask/pools?poolname={agentPoolName}`
AFAIR, the `poolID` could be get using the REST API

[2021-11-25 07:00] tomkerkhove commented on #596
Huh, distributedtask, what's the differnce with agentpool?

[2021-11-25 07:10] tomkerkhove opened #597 "Introduce best practices"
Introduce best practices on using KEDA and how it plays well with others.

[2021-11-25 07:11] tomkerkhove opened #598 "Provide guidance on reducing "cold start" for 0 -> 1 scaling (cluster autoscaling)"
Provide guidance on reducing "cold start" for 0 -> 1 scaling by setting up cluster autoscaling correctly and things to consider.

KEDA can scale all it wants, but the cluster should follow.

Depends on #597

[2021-11-25 07:12] tomkerkhove opened #599 "Provide guidance on reducing "cold start" for 0 -> 1 scaling (image pulling)"
Provide guidance on reducing "cold start" for 0 -> 1 scaling by pre-pulling images on nodes so that it does not have to pull them when we are scaling.

Depends on #597

[2021-11-25 07:38] JorTurFer commented on #596
IDK but in my case, if I use agentqueues i get 155
![image](https://user-images.githubusercontent.com/36899226/143399068-360c25bc-422e-4157-9acb-c0cb485547b3.png)
and if I use distributedtask  I get 11 (in fact, 11 is the correct value)
![image](https://user-images.githubusercontent.com/36899226/143399345-880e82cf-d679-432d-b5ed-4402c4659531.png)

[2021-11-25 07:40] JorTurFer commented on #596
The scaler creator wrote it in the documentation also
![image](https://user-images.githubusercontent.com/36899226/143399557-9ed70f33-185a-4a9e-a3e9-51d67b8a22dd.png)

[2021-11-25 07:40] tomkerkhove commented on #596
Huh interesting, this might have been a misunderstanding from my side (and maybe others).

Do you know what the difference is?

[2021-11-25 07:41] tomkerkhove commented on #596
Let's maybe remove the `1` default as people might thing this will be the value when they create their first pool? Might be overthinking this as well.

[2021-11-25 08:42] JorTurFer commented on #596
Not yet, but maybe I will discover it when I'm doing [the changes to throw an error if not exist](https://github.com/kedacore/keda/issues/2342). If I discover any interesting thing I will update this thread

[2021-11-25 08:49] tomkerkhove commented on #596
Let's add a dedicated section to put the emphasize on it, something like "Determining the agent pool ID" as an h3 or so - What do you think?

[2021-12-02 11:43] #596 closed

[2021-12-06 16:06] Ritikaa96 opened #606 "Update version in instructions for deploy.md (v2.5.0 and v2.6.0)"
Versions in the instructions are still 2.4.0, it needs to be updated.
## Expected Behavior

version should be v.2.5.0 & v2.6.0
## Actual Behavior
version is v2.4.0 in the instruction for example:

[code]

## Specifications

  - **KEDA Version:** *2.5.0* & *2.6.0*
  - **Platform & Version:** *N/A*
  - **Kubernetes Version:** *N/A*

[2021-12-07 06:57] #606 closed

[2021-12-13 10:08] tomkerkhove commented on #548
This should have a seperate section on our website for external scalers that are owned by KEDA org.

[2021-12-14 18:39] arschles commented on #597
@tomkerkhove do you have some ideas of what "others" you'd like to include?

[2021-12-15 07:44] tomkerkhove commented on #597
Other tools, if need be :)

See the linked open issues but no other plans for now - But open to suggestions

[2021-12-21 15:42] #584 closed

[2021-12-27 14:52] #314 closed

[2022-01-05 11:10] chrisreddington opened #619 "Add version number to doc search results"
Please add the version number to search results when using the built-in search functionality on keda.sh. Currently, if you search for an item and it appears in older versions, then there may be confusion on which version you're using. I assumed that if there are multiple results, the highest item would be the latest, though this is not the case.

![image](https://user-images.githubusercontent.com/

[2022-01-12 20:44] JorTurFer opened #625 "Create a FAQ entry explaining why the HPA could report incorrect values"
### Discussed in https://github.com/kedacore/keda/discussions/2451

[2022-01-12 20:47] #625 closed

[2022-01-18 20:54] chalin commented on #619
I think that there might be a way to do this without having to change the display of search results but including the doc version in the title (and removing the labels like "Click here for latest"). /cc @celestehorgan @nate-double-u

[2022-01-20 07:04] tomkerkhove opened #631 "Provide overview of egress endpoints"
Provide overview of egress endpoints that cluster operators should be aware of and allow.

[2022-01-20 07:04] tomkerkhove commented on #631
@kedacore/keda-maintainers Do you have an idea of the endpoints that should be allowed for egress?

[2022-01-20 07:14] JorTurFer commented on #631
What do you want to achieve? I mean, is this to allow the traffic in network policies or similar?
If yes, it depends on the scaler specifically , maybe we could add a section on every scaler explaining that. In some cases are defined (ex Azure or AWS, etc) and in other cases are user defined (sql servers, prometheus, etc)

[2022-01-20 07:20] tomkerkhove commented on #631
Some end-users or cloud providers lock down the services they can consume from within a cluster. Depending on the scaler that is being used, that can mean that our scalers will fail because of it.

Examples:
- https://docs.openshift.com/container-platform/4.9/networking/ovn_kubernetes_network_provider/configuring-egress-ips-ovn.html
- https://projectcalico.docs.tigera.io/about/about-kubernetes-egr

[2022-01-20 07:39] JorTurFer commented on #631
Sounds totally reasonable. My concert here is how to maintain up to date the external vendors' endpoint, but maybe we could point to their specific documentation in case of existing 🤔
But I think this is a fantastic idea from security pov

[2022-01-20 07:49] tomkerkhove commented on #631
Yes, I'd use links to their official documentation so that people have guidance on it and make it a "requirement" for new scaler docs to include them.

[2022-01-20 07:50] tomkerkhove opened #632 "Provide overview of egress endpoints for AWS scalers"
Provide overview of egress endpoints for AWS scalers.
Relates to #631

[2022-01-20 07:50] tomkerkhove opened #633 "Provide overview of egress endpoints for Azure scalers"
Provide overview of egress endpoints for Azure scalers

Relates to #631

[2022-01-20 07:50] tomkerkhove opened #634 "Provide overview of egress endpoints for GCP scalers"
Provide overview of egress endpoints for GCP scalers

Relates to #631

[2022-01-20 07:54] tomkerkhove opened #635 "Provide overview of egress endpoints for remaining scalers"
Provide overview of egress endpoints for remaining scalers not covered in #632, #633 & #634.

The following scaler doc should be updated with endpoint information (or mention none are applicable):

- [ ] ActiveMQ
- [ ] ActiveMQ Artemis
- [ ] Apache Kafka
- [ ] Cassandra
- [ ] CPU
- [ ] Datadog
- [ ] Elasticsearch
- [ ] Graphite
- [ ] Huawei Cloudeye
- [ ] IBM MQ
- [ ] InfluxDB
- [ ] Kubernete Work

[2022-01-20 07:55] tomkerkhove opened #636 "Update contribution guide to document egress endpoints for new scalers"
Update contribution guide to document egress endpoints for new scalers.

Relates to #631

[2022-01-20 07:56] tomkerkhove commented on #631
The only question I have is, do we:
- Add it to every individual scaler doc page, or
- Provide a dedicated overview in `Operate`

I'm leaning towards the latter as the audience for our scaler pages are different from the `Operate` where cluster admins will not go through all scaler pages.

[2022-01-20 08:37] tomkerkhove commented on #631
What if the cluster admin doesn't know what scalers are being used or wants to allow all of them?

[2022-01-20 08:40] JorTurFer commented on #631
Could we generate a summary in base of scaler automatically? 🤔

[2022-01-20 08:48] tomkerkhove commented on #631
I think the main question is, who's the audience? Do devs care about this? I doubt it, to be honest.

We can add a link to the operate page in every scaler doc as well :)

[2022-01-20 09:59] JorTurFer commented on #631
That's another option 😄

[2022-01-23 14:23] #532 closed

[2022-01-27 19:46] nate-double-u commented on #594
As per @chalin on the [CNCF Service Desk ticket 1008](https://cncfservicedesk.atlassian.net/browse/CNCFSD-1008?focusedCommentId=19231), there is a new GA tag: `G-YSWMV22VTQ`

[2022-01-28 07:00] tomkerkhove commented on #594
@JorTurFer Do you know how to configure it?

[2022-01-28 10:44] #589 closed

[2022-01-28 18:47] arschles commented on #631
Seems like the best way to get started IMO

[2022-01-31 09:04] #598 closed

[2022-01-31 09:04] #599 closed

[2022-02-11 18:16] arschles commented on #548
@tomkerkhove can you add the right label to prevent the stalebot from closing this? I think it's still pending some CNCF work, but I definitely don't want to close this issue meanwhile.

[2022-02-11 20:17] chalin commented on #594
- [ ] Add notice for GDPR compliance
- [ ] Let @tomkerkhove know how maintainers can access analytics

[2022-02-18 11:49] chalin opened #662 "Upgrade hugo"
This is in support of #594.

[2022-02-18 11:50] chalin commented on #662
/assign

[2022-02-18 12:30] chalin opened #663 "Blog page layout problem"
Visit https://keda.sh/blog/2022-02-09-predictkube-scaler, for example and you'll see that the page overflows (the right-side **Recent posts** list is truncated:

/cc @nate-double-u @caniszczyk

[2022-02-18 12:42] chalin opened #664 "Run Hugo-output audit"
For details see, https://github.com/cncf/techdocs/blob/main/docs/hugo-and-docsy.md.

(I've already noticed some `` in the generated output.)

/cc @nate-double-u

[2022-02-18 14:53] chalin opened #666 "Remove YARN from CI"
@tomkerkhove - any objections to dropping `yarn`. I adds no value here, `npm` works just fine.

[2022-02-18 14:54] chalin opened #667 "Provide CI check to verify links"
There is some script code there to check links, but it doesn't work.

[2022-02-18 14:56] chalin opened #668 "Fix redirect rules and drop misnamed and misplaced _redirects files"
Redirect rules should be defined in [layouts/index.redirects](https://github.com/kedacore/keda-docs/blob/main/layouts/index.redirects).

The following two files should be deleted. We might need to ensure that their rules are covered first thought:

- [x] Drop https://github.com/kedacore/keda-docs/blob/main/content/_redirects - #670
- [ ] Drop https://github.com/kedacore/keda-docs/blob/main/static/

[2022-02-20 09:25] #597 closed

[2022-02-20 13:36] #662 closed

[2022-02-20 13:37] tomkerkhove commented on #666
You are the frontend expert - If it's not required, then drop ti

[2022-02-20 13:39] chalin commented on #666
/assign @chalin

[2022-02-21 20:23] chalin opened #669 "Adjust 404 page so that we can track 404s in GA"

[2022-02-21 20:56] chalin commented on #668
@tomkerkhove - as was mentioned in the opening comment, the following rules aren't being processed by Netlify:

https://github.com/kedacore/keda-docs/blob/edde5ffae2f12d3d93d7d2b01ed59d8c3ca615e9/static/_redirects#L1-L4

Some of these are encoded in the [layouts/index.redirects](https://github.com/kedacore/keda-docs/blob/main/layouts/index.redirects), but not all. Do you need these rules?

Also no

[2022-02-22 05:45] tomkerkhove commented on #668
Yes, we need those indeed but these should work normally; for example if you go to `https://keda.sh/docs/latest/scalers/` it will go to `https://keda.sh/docs/2.6/scalers/`

But I'm not sure if it's that or because of the versions. If I recall correctly these were there for our old docs, but not a must from my side.

Thoughts @kedacore/keda-maintainers?

[2022-02-22 15:41] #666 closed

[2022-02-22 15:44] whitesource-bolt-for-github[bot] opened #671 "CVE-2021-3807 (High) detected in ansi-regex-3.0.0.tgz, ansi-regex-4.1.0.tgz"
## CVE-2021-3807 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>ansi-regex-3.0.0.tgz</b>, <b>ansi-regex-4.1.0.tgz</b></p></summary>
<p>

<details><summary><b>ansi-regex-3.0.0.tgz</b></p></summary>

<p>Regular expression for matching ANSI escape codes</p>
<p>Libr

[2022-02-22 15:44] whitesource-bolt-for-github[bot] opened #672 "CVE-2020-28469 (High) detected in glob-parent-3.1.0.tgz"
## CVE-2020-28469 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>glob-parent-3.1.0.tgz</b></p></summary>

<p>Strips glob magic from a string to provide the parent directory path</p>
<p>Library home page: <a href="https://registry.npmjs.org/glob-parent/-/glob-paren

[2022-02-22 15:44] whitesource-bolt-for-github[bot] opened #673 "CVE-2022-0536 (Medium) detected in follow-redirects-1.14.7.tgz - autoclosed"
## CVE-2022-0536 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>follow-redirects-1.14.7.tgz</b></p></summary>

<p>HTTP and HTTPS modules that follow redirects.</p>
<p>Library home page: <a href="https://registry.npmjs.org/follow-redirects/-/follow-redirects-1.14

[2022-02-22 15:44] whitesource-bolt-for-github[bot] opened #674 "CVE-2021-33502 (High) detected in normalize-url-2.0.1.tgz"
## CVE-2021-33502 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>normalize-url-2.0.1.tgz</b></p></summary>

<p>Normalize a URL</p>
<p>Library home page: <a href="https://registry.npmjs.org/normalize-url/-/normalize-url-2.0.1.tgz">https://registry.npmjs.org/normali

[2022-02-22 15:44] whitesource-bolt-for-github[bot] opened #675 "CVE-2015-9239 (High) detected in ansi2html-0.0.1.tgz - autoclosed"
## CVE-2015-9239 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>ansi2html-0.0.1.tgz</b></p></summary>

<p>Convert text with ANSI escape sequences to HTML markup</p>
<p>Library home page: <a href="https://registry.npmjs.org/ansi2html/-/ansi2html-0.0.1.tgz">https://

[2022-02-22 16:30] chalin opened #676 "Improve README to split between installing and building/serving"
For context, see https://github.com/kedacore/keda-docs/pull/670#discussion_r811595860_ @tomkerkhove.

[2022-02-22 16:30] chalin commented on #676
/assign

[2022-02-22 16:33] chalin commented on #671
This is due to `netlify-cli`, but it's a dev dependency only.

[2022-02-22 16:40] chalin opened #678 "Change page titles so that page-content title comes before the site title"
Currently page titles are of the form `KEDA | <content-title>`. It is more typical (and makes analytics analytics easier) if title has a format like `<content-title> | KEDA`.

Any objections to making this change @tomkerkhove et all?

[2022-02-23 08:04] tomkerkhove commented on #678
@kedacore/keda-maintainers Any objections on this?

[2022-02-23 08:05] #669 closed

[2022-02-23 08:08] tomkerkhove commented on #671
Do we need it?

[2022-02-23 08:14] tomkerkhove opened #679 "Should we remove /docs from our URLs?"
Currently our URL looks like `keda.sh/docs/latest/troubleshooting` and I'm wondering if we should keep it or not?

If we change it, though, it should autodirect to avoid breaking things.

[2022-02-23 08:14] tomkerkhove commented on #679
Thoughts @kedacore/keda-maintainers @chalin?

[2022-02-23 15:04] chalin commented on #679
Having top-level sections like `/docs` and `/blog` is quite standard. The only times I've seen sites without `/docs` is when the entire site is _just_ docs (so essentially the entire content of what is usually under `/docs` gets promoted to the top level).

I suggest keeping `/docs`. (Or have I misunderstood your question?)

[2022-02-24 08:36] tomkerkhove commented on #679
Makes sense, I was just wondering why but that explains it.

[2022-02-24 08:36] #679 closed

[2022-02-28 07:03] tomkerkhove opened #681 "Provide FAQ entry on running multiple metric servers in one cluster"
Provide FAQ entry on running multiple metric servers in one cluster and how that is not possible today.

See https://github.com/kedacore/keda/issues/470
See https://github.com/kedacore/keda/issues/2654

[2022-02-28 08:52] zroubalik commented on #668
+1

[2022-02-28 09:06] zroubalik commented on #678
+1

[2022-02-28 09:33] tomkerkhove commented on #678
Majority, let's do it @chalin!

[2022-03-04 16:22] chalin commented on #678
/assign

[2022-03-04 16:52] chalin opened #692 "Top 404s as of 2022/03/04"
Here are the top 404s:

[2022-03-04 17:04] chalin commented on #594
Added a note above, regarding Knative's site.

[2022-03-04 20:06] chalin opened #693 "Solace PubSub+ Event Broker has no "latest" version"
1. Visit https://keda.sh/docs/2.4/scalers/solace-pub-sub/
 2. Click on [Click here for latest](https://keda.sh/docs/2.6/scalers/solace-pub-sub/)

This results in a 404. I'd either expect the "latest" button to be absent or the target page to exist.

[2022-03-04 20:17] chalin opened #694 "Old doc pages are labeled as latest in version menu"
1. Visit https://keda.sh/docs/2.0/scalers/
 2. Click the Version dropdown

You'll see that the "2.0" entry is labeled as "(latest)". So if I had landed on this page from an old link, I might think that this is the latest version of the page, despite there being more recent versions of KEDA.

/tags design, ux

[2022-03-07 08:52] tomkerkhove commented on #693
Also, we should make sure it's not absent :D

[2022-03-07 10:20] tomkerkhove opened #697 "Local setup no longer works on Windows"
When following the steps in our README after moving to NPM only, `npm run build` no longer works in the root of the repo:

[code]

[2022-03-07 10:20] tomkerkhove commented on #697
FYI @chalin

[2022-03-07 10:20] tomkerkhove commented on #694
@chalin Can you add all these issues to the "Documentation Improvements" milestone please?

[2022-03-07 12:19] chalin commented on #693
@tomkerkhove: should that page appear in all versions of the docs as of 2.4?

[2022-03-07 12:30] #697 closed

[2022-03-07 12:42] chalin commented on #693
For example, consider the [cron scaler](https://keda.sh/docs/1.5/scalers/cron/), which has the following versions of that scaler's page:

[code]

It is my understanding that if a scaler appeared in version x.y, then there will be a page for that scaler under all doc versions >= x.y (unless the scaler no longer exists). Is that correct?

If so, then the problem with the Solace pub-sub page is that

[2022-03-07 13:35] #678 closed

[2022-03-07 14:13] tomkerkhove commented on #693
Yes that is correct, ti should be copied to 2.4+

[2022-03-07 16:10] chalin commented on #693
Ah, it seems that the files exist, but were renamed:

[code]

I'll rename them all to `solace-pub-sub.md`, does that work for you @tomkerkhove?

[2022-03-09 13:30] tomkerkhove opened #703 "Suggest using CronJobs in Cron scaler docs for recurring scaling"
Suggest using CronJobs in Cron scaler docs for recurring scaling which we don't support, but sometimes confuses people

[2022-03-10 11:03] zroubalik commented on #693
@chalin yeah, plase do that. Good catch!

[2022-03-10 13:16] chalin opened #706 "Consider implementing Hugo aliases via Netlify redirects"

[2022-03-10 13:35] chalin opened #707 "Blog files: why add date to file name and use an alias to remove it?"
Consider the `content/blog/2022-03-10-how-zapier-uses-keda.md` file, recently added via #687, with the following front matter:

[code]

@tomkerkhove - Why not simply name the file `content/blog/how-zapier-uses-keda.md` and avoid having to define an alias?

By having the alias be different from the file name by dropping the date, makes it easier to inadvertently introduce a clash at some point.

No

[2022-03-10 14:32] chalin commented on #692
@tomkerkhove and @kedacore/keda-maintainers : please see my questions in the opening comment.

[2022-03-10 14:33] chalin commented on #692
@tomkerkhove - another question: is @kedacore/keda-maintainers a private team? If so, could you make it public? Otherwise I can't refer to it. Thanks.

[2022-03-10 14:33] #693 closed

[2022-03-10 14:35] chalin commented on #668
FYI, https://github.com/kedacore/keda-docs/blob/main/static/_redirects get overwritten by the generated file of the same name. All rules have an equivalent in the generated file except for this redirect:

[code]

Just to be clear: so you'd like me to add a rule for `concepts/overview`?

[2022-03-10 16:05] tomkerkhove commented on #707
I don't think there is a real reason for this so happy to change if it makes sense

[2022-03-11 06:52] tomkerkhove commented on #668
I'd say ensure we have rules for all of these:
https://github.com/kedacore/keda-docs/blob/edde5ffae2f12d3d93d7d2b01ed59d8c3ca615e9/static/_redirects#L1-L4

[2022-03-11 06:53] tomkerkhove commented on #692
Ignore, that shouldn't be used

Ignore, that shouldn't be used

Thanks

Send to latest

Send to latest

No idea what this is - I'd say ignore, that shouldn't be used

Send to latest

[2022-03-11 10:52] tomkerkhove opened #711 "Provide dedicated page per authentication provider"
As our offering for trigger authentication is growing, so does [our list of supported authentication providers](https://keda.sh/docs/2.6/concepts/authentication/).

We would love to align our approach in this area with our [scaler conceptual documentation](https://keda.sh/docs/2.6/concepts/scaling-deployments/) and [dedicated scaler overview](https://keda.sh/docs/2.6/scalers/).

With this change,

[2022-03-11 10:52] tomkerkhove commented on #711
@chalin Is this something you can pick up as part of the rework?

[2022-03-14 16:01] zroubalik opened #712 "Link to specific items in FAQ and Troubleshooting guide"
At the moment one can not link to specific items (questions/topics) in FAQ or Troubleshooting guide:
https://keda.sh/docs/2.6/faq/
https://keda.sh/docs/2.6/troubleshooting/

Would be nice to add possibility to do that (ie. generate links for each item.

### Use-Case

Access inidividual items in FAQ/Troubleshooting with links

### Specification

- [ ] Generate links for FAQ
- [ ] Generate links for

[2022-03-14 16:02] zroubalik commented on #712
@chalin Is this something you can pick up as part of the rework, please?

[2022-03-16 08:22] JorTurFer opened #715 "Netlify preview build fails because missing files"
Netlify preview build fails showing this message:
[code]

I looks like those scalers are needed also in v2.6 but they should be there because are new scalers from v2.7

[2022-03-21 02:38] k0544530931k4 opened #717 "This issue has been automatically marked as stale because it has not had recent activity. It will be closed in 7 days if no further activity occurs. Thank you for your contributions."
This issue has been automatically marked as stale because it has not had recent activity. It will be closed in 7 days if no further activity occurs. Thank you for your contributions.

_Originally posted by @stale[bot] in https://github.com/kedacore/keda-docs/issues/412#issuecomment-942604145_

[2022-03-21 02:38] k0544530931k4 opened #718 "057"
A clear and concise description of what the bug is.

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  2.
  3.

## Specifications

  - **KEDA Version:** *Please elaborate*
  - **Platform & Version:** *Please elaborate*
  - **Kubernetes Version:** *Please elaborate*
  - **Scaler(s):** *Please elaborate*

[2022-03-21 08:01] #717 closed

[2022-03-21 08:01] #718 closed

[2022-03-22 11:06] tomkerkhove commented on #715
@chalin Can you help on this please?

[2022-03-22 11:31] chalin commented on #715
Thanks for the ping. Looking now.

[2022-03-22 11:54] chalin opened #721 "View-latest button should be disabled/absent for future releases"
The latest version of the site is 2.6 currently. The View-latest button (currently named ""), for 2.7 Scalars links back to corresponding 2.6 pages, but that creates broken links for Scalars that are being introduced in 2.7 because they have not 2.6 counterpart. For example, the Azure Data Explorer Scaler (introduced via #658), has an availability of 2.7+:

- [ ] There should probably be no View-l

[2022-03-22 11:55] chalin commented on #715
I've documented the cause in #721.

[2022-03-22 12:19] chalin commented on #715
Builds are passing once again:

[2022-03-22 12:21] zroubalik commented on #715
@chalin that's awesome, thanks!

[2022-03-23 08:28] #721 closed

[2022-03-23 08:31] whitesource-bolt-for-github[bot] opened #724 "CVE-2021-44907 (Low) detected in qs-6.9.7.tgz, qs-6.9.6.tgz - autoclosed"
## CVE-2021-44907 - Low Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>qs-6.9.7.tgz</b>, <b>qs-6.9.6.tgz</b></p></summary>
<p>

<details><summary><b>qs-6.9.7.tgz</b></p></summary>

<p>A querystring parser that supports nesting and arrays, with a depth limit</p>
<p>Libr

[2022-03-23 08:31] whitesource-bolt-for-github[bot] opened #725 "CVE-2021-44906 (High) detected in minimist-1.2.5.tgz - autoclosed"
## CVE-2021-44906 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>minimist-1.2.5.tgz</b></p></summary>

<p>parse argument options</p>
<p>Library home page: <a href="https://registry.npmjs.org/minimist/-/minimist-1.2.5.tgz">https://registry.npmjs.org/minimist/-/mini

[2022-03-23 12:39] chalin commented on #692
Right, it shouldn't be used. But rather than a 404, it might be more helpful to someone visiting that link if it redirected to an explanation that `/v1alpha1` is just an API version ID -- possibly referencing https://kubernetes.io/docs/reference/using-api/#api-versioning? WDYT?

[2022-03-23 12:43] tomkerkhove commented on #692
That's OK for me, but personally wouldn't spend much time on it given 404 is correct as well.

Otherwise we will have rules for all these scenarios

[2022-03-23 13:04] chalin opened #727 "[meta] Organize and prioritize issues"
We currently have a growing list of issues in [Documentation Improvements], it would help contributors (including myself :)), to know what to work on next if you would consider doing some/all of the following.

### Relative priority

@tomkerkhove @zroubalik et al., **assign priorities** to the issues by adding one of these labels:

Also consider adding an **effort estimate** if you have a feeling

[2022-03-23 13:08] chalin commented on #712
@zroubalik - yes it can be. It would help if I knew the relative priority of issues -- see #727.

[2022-03-23 13:09] chalin commented on #711
@tomkerkhove - yes it can be. It would help if I knew the relative priority of issues -- see #727.

[2022-03-23 15:54] tomkerkhove commented on #727
Thank you!

[2022-03-24 01:06] #724 closed

[2022-04-15 01:13] whitesource-bolt-for-github[bot] opened #746 "CVE-2021-43138 (High) detected in async-1.5.2.tgz"
## CVE-2021-43138 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>async-1.5.2.tgz</b></p></summary>

<p>Higher-order functions and common patterns for asynchronous code</p>
<p>Library home page: <a href="https://registry.npmjs.org/async/-/async-1.5.2.tgz">https://r

[2022-04-20 06:19] tomkerkhove commented on #727
Here you go: https://github.com/orgs/kedacore/projects/5/views/1

[2022-04-20 06:19] #727 closed

[2022-05-01 20:57] nate-double-u commented on #619
/reopen
still important

[2022-05-10 10:02] tomkerkhove commented on #706
Bump

[2022-05-10 10:02] tomkerkhove commented on #668
Bump

[2022-05-23 07:24] tomkerkhove commented on #703
This is how our current CRON scheduler works:

![image](https://user-images.githubusercontent.com/4345663/169765619-e10509ed-f57b-409c-9551-f7fc9ef135a6.png)

See https://keda.sh/docs/latest/scalers/cron/#how-does-it-work.

This issue, however, is to document the scenario where you want to scale every x minutes/hours/etc.

[2022-05-23 18:31] tomkerkhove opened #763 "Version dropdown always shows current version as latest"
Version dropdown always shows current version as latest:
![image](https://user-images.githubusercontent.com/4345663/169884022-944cb089-aa30-4720-a77b-139581d377ed.png)

[2022-05-24 08:09] #725 closed

[2022-05-24 08:09] #673 closed

[2022-05-24 08:10] #675 closed

[2022-05-30 17:08] teebu commented on #703
I dont understand what this means. This statement is confusing.

`What the CRON scaler does not do, is scale your workloads based on a recurring schedule.`

Isn't a cron a schedule? Meaning during the day I want my min pods ot scale to 10 and night to 1?

Can you clarify with a scenario on the statement what it doesn't mean.

[2022-05-31 07:40] tomkerkhove commented on #703
Cron is used as a time notation when to start/end. By doing this, you define a window to which we will scale the workload correspondingly.

It does not mean, "scale every x min/h/days". For that, Kubernetes has CronJobs.

[2022-06-07 08:26] tomkerkhove opened #774 "Provide conceptual overview of personas and KEDA"
Provide conceptual overview of personas and KEDA so that it becomes clear that:
1. KEDA is installed once, typically by cluster operator
2. Cluster operator can install ClusterTriggerAuthentication
3. SO/SJ & Trigger Authentication are scoped to a namespace
4. KEDA does not scale clusters

This should be explained visually similar to https://gateway-api.sigs.k8s.io/

[2022-06-09 14:18] tomkerkhove opened #778 "SEO should be improved to not serve older versions in Google"
SEO should be improved  to not serve older versions in Google but this might have been fixed already to not serve v1.x results.

[2022-06-09 14:18] tomkerkhove opened #779 "Provide more explicit banner on older doc versions"
Provide more explicit banner on older doc versions  to make sure people are aware that they are looking at old docs.

[2022-06-09 14:19] tomkerkhove commented on #778
This is most probably done by @JorTurFer already but let's verify

[2022-06-14 14:47] JorTurFer opened #782 "Netlify CI is failing because there are missing sections"
Latest PRs doesn't generate the Netlify preview because there are missing sections. [This is an example of the failure](https://app.netlify.com/sites/keda/deploys/62a89defb37de10008ec807e)
[code]

[2022-06-15 05:08] #782 closed

[2022-06-16 03:33] shengzhizhou opened #786 "Scaling is not performed because triggers are not active"
In our kubernetes cluster, we installed keda-operator and scaleobject and all, everything works fine, pods scale up and down, but in Rancher it shows error "Scaling is not performed because triggers are not active". Just this warning looks not correct.
Thanks for answering!

## Specifications

  - **KEDA Version: Keda-operator image keda:2.6.1
  - **Platform & Version: Provider: rke2r2
  - **Kuber

[2022-06-21 17:08] thisisobate opened #789 "Scalers section on landing page is broken on smaller screen"
A clear and concise description of what the bug is.

## Expected Behavior
Content should be fully contained on smaller screens
## Actual Behavior
Content overflows its container on smaller screen
<img width="942" alt="Screenshot 2022-06-21 at 16 24 16" src="https://user-images.githubusercontent.com/29557702/174857945-a00438a2-13da-48c9-8872-c05a8d39b6b0.png">

## Steps to Reproduce the Problem

[2022-06-22 06:52] tomkerkhove commented on #789
Thanks for reporting! We'll get it fixed.

[2022-06-22 08:32] tomkerkhove commented on #789
Thanks a ton!

[2022-06-22 08:37] #789 closed

[2022-06-24 09:27] #663 closed, assigned to nobody

[2022-06-27 11:57] tomkerkhove opened #795 "Provide walkthrough section"
Provide walkthrough section that walks end-users through common scenarios.

Ideas are:
- How to set up KEDA wrt secret providers

[2022-06-27 11:57] tomkerkhove commented on #795
The idea is to write walkthroughs along the lines of this document: https://docs.promitor.io/v2.7/walkthroughs/scrape-promitor-with-prometheus-on-azure-kubernetes-service/

[2022-06-27 20:52] thisisobate commented on #694
@tomkerkhove Seems this issue has been fixed [here](https://github.com/kedacore/keda-docs/pull/765).
Feel free to close this one.

[2022-06-29 06:28] #582 closed

[2022-06-29 13:40] chalin opened #798 "No space between Keda logo and margin on mobile"
- Followup to #582
- Notice how there is space lacking between the Keda logo and the left margin on mobile:
  <img width="250" alt="image" src="https://user-images.githubusercontent.com/4140793/176450476-dc8dc99e-bb56-43d0-9552-d92da51bd378.png">

/assign @thisisobate

[2022-06-29 19:29] thisisobate commented on #577
@tomkerkhove I'm taking a look at this one.
/assign @thisisobate

[2022-06-30 07:44] #798 closed

[2022-07-05 07:14] tomkerkhove opened #802 "Provide blog post on upcoming KEDA v2.8 release"
Provide blog post on upcoming KEDA v2.8 release.

@kedacore/keda-maintainers Please list the most significant changes that you think should be in at least

[2022-07-05 07:16] tomkerkhove commented on #802
From my side based on https://github.com/kedacore/keda/blob/main/CHANGELOG.md:
- New scalers
- Support for Azure AD Workload Identity as a pod identity provider
- Support for permission segregation when using Azure AD Pod / Workload Identity
- Migrate e2e test to Go & Improve e2e on PR process

[2022-07-05 07:19] JorTurFer commented on #802
I'd add:
- Support to `float` target values (where they make sense, each scaler supports or not it)
- (In progress) Activation and Scaling thresholds

[2022-07-05 11:57] theauheral opened #803 "Composed triggers feature request"
I would like to suggest a new feature: composed triggers.

### Use-Case

I would like to be able to compose triggers or define a priority/logic between triggers.

Example:
Scaling from 0 to 1<=n<=maxReplicas replicas on a fixed CRON schedule (On/Off) with n managed by the metric (kafka) trigger during the runtime window.

The current design only enables "OR" logic between triggers. I would like to

[2022-07-05 12:08] theauheral commented on #803
Just realized I created this in the docs repo. Moving it to keda main

[2022-07-05 12:12] #803 closed

[2022-07-11 21:04] chalin commented on #594
@tomkerkhove - FYI, I'm still working on this (for KEDA docs and other projects).

[2022-07-12 00:23] nate-double-u opened #809 "Left navbar becomes blocked on docs landing page"
Left navbar becomes blocked by the header when fully expanded on the /docs landing page. I expect this is a hugo or theme issue.

/cc @chalin @thisisobate

## Expected Behavior
nav bar should expand downward, and potentially scroll, not expand upward.

## Actual Behavior
(tested on Mac OS)

Firefox
<img width="1392" alt="Screen Shot 2022-07-11 at 4 57 06 PM" src="https://user-images.githubusercont

[2022-07-12 00:23] nate-double-u commented on #809
/milestone Documentation Improvements

[2022-07-14 07:46] tomkerkhove commented on #594
Thanks for the update.

[2022-07-17 07:24] tal-testim opened #819 "selenium-grid-scaler: Add abilty to scale more then the request coming to grid by Percentage"
Hi team, it would be great if the selenium-grid-scaler had the option to scale not only when there is more request than browsers,
but also to leave some more browsers up than needed.
for example, if there are 20 requests for the browser instead of scaling to 20 It will be great to have the ability to scale 20% more than the requested, in this case, 24.
that way I can leave some space between the n

[2022-07-27 11:32] thisisobate opened #839 "Reduce network impact for scaler search"
Currently, the lunr.js package that enables the scaler search is being served via a CDN. As much as this is fast enough, it would be nice to vendorize it to minimize network impact. By so doing, we save some bandwidth for visitors.

[2022-07-27 11:32] thisisobate opened #840 "debounce scaler search input"
Once the user starts typing the search keyword we are making an API call for each of the characters. This is not ideal. We can optimize and reduce the count of API calls by implementing a debounce logic.
## Expected Behavior
Less API calls per search keyword

## Actual Behavior
API call per keyword character

## Steps to Reproduce the Problem

  1. navigate to the scaler page
  2. Enter a sentence

[2022-07-27 14:53] tegioz commented on #711
Hi 👋

Maybe @cynthia-sg can help you with this 🙂

Could you please share some more details about how would you like to structure/split that page?

[2022-07-27 19:24] chalin commented on #839
Can we see some numbers here. I'd vote to keep serving via CDN, but I'm willing to be convinced that this is optimization is worthwhile. Maybe we can discuss this at our next sync? /cc @nate-double-u

[2022-07-28 07:47] thisisobate commented on #839
sure...let's discuss during our next sync

[2022-08-01 05:30] tomkerkhove commented on #839
I agree with @chalin, let's not overengineer it if we don't need it

[2022-08-01 05:33] tomkerkhove commented on #711
That would be nice, thank you!

Currently we have all the providers documented on https://keda.sh/docs/latest/concepts/authentication/ but we would like to align to our scaler model where the landing page shows all the available providers (similar to https://keda.sh/docs/latest/scalers/) with a dedicated page per provider (similar to https://keda.sh/docs/latest/scalers/apache-kafka/).

This would

[2022-08-01 05:37] tomkerkhove opened #845 "Align external scaler formatting with built-in scalers"
Align external scaler formatting with built-in scalers based on the [Artifact Hub API](https://artifacthub.io/docs/api/).

Contacts are @cynthia-sg & @tegioz for Artifact Hub API.

Follow-up for https://github.com/kedacore/keda-docs/pull/805

[2022-08-01 05:37] tomkerkhove commented on #845
I've created this item to not lose track of it @thisisobate

[2022-08-02 15:01] #577 closed

[2022-08-03 03:42] thisisobate opened #849 "Astericks shows during scaler search"
A clear and concise description of what the bug is.
This bug was introduced by #805

## Expected Behavior
Show the exact search query

## Actual Behavior
Astericks shows during scaler search

## Steps to Reproduce the Problem

  1. Navigate to the scaler's page
  2. Hit the search input and enter a query
  3. Notice how an asterisk is appended to the keyword

## Specifications

  - **KEDA Version:

[2022-08-03 03:55] thisisobate opened #851 "Layout is broken in the user's section of the community page"
Bug introduced by #805

| Before | After |
| --- | --- |
| ![before image](https://user-images.githubusercontent.com/4345663/182412608-63cc9eca-0581-4dd6-9176-443f43dd984b.png) | <img width="1697" alt="Screenshot 2022-08-03 at 04 50 51" src="https://user-images.githubusercontent.com/29557702/182520644-350546bf-8ad2-474e-8f51-24804716c48f.png"> |

## Specifications

  - **KEDA Version:** *Please el

[2022-08-03 04:03] thisisobate opened #853 "Too much whitespace within the scaler page"
There seems to be huge whitespace between sections on the scaler page.
![current state of the scaler page](https://user-images.githubusercontent.com/4345663/182108897-e2b529ce-a747-4dce-89e6-e8e18e48caea.png)

## Specifications

  - **KEDA Version:** *Please elaborate*
  - **Platform & Version:** *Please elaborate*
  - **Kubernetes Version:** *Please elaborate*
  - **Scaler(s):** *Please elaborate

[2022-08-03 04:16] thisisobate opened #854 "Redis scalers are not shown when searched"
## Expected Behavior
Show results when a specific scaler is searched.
Bug introduced by #805

## Actual Behavior
Tried using the **Redis** keyword to search through the scaler list and no result was shown.

## Steps to Reproduce the Problem

  1. Navigate to the scaler's page
  2. search "Redis"
  3. Notice that it returns no results even though is present on the scaler's list

## Specifications

[2022-08-03 06:10] #851 closed

[2022-08-03 06:13] tomkerkhove opened #855 "Provide new "Support" page around support in KEDA OSS & vendors providing KEDA with support"
Provide new "Support" page that gives an overview around support to our end-users:
- What support does KEDA OSS provide (basically https://github.com/kedacore/governance/blob/main/SUPPORT.md)
- Provide an overview of all vendors that provide KEDA as part of their offering/product and provide support for it

The goal is to help end-users make decision on how to use KEDA that fits their needs.

The

[2022-08-03 06:15] tomkerkhove commented on #855
Examples of this are [AKS's add-on](https://docs.microsoft.com/en-us/azure/aks/keda-about) and RedHat who will have this as well (@zroubalik can provide more details).

@kedacore/keda-maintainers Any suggests on how this page should be called?

[2022-08-03 06:27] #849 closed

[2022-08-03 06:29] tomkerkhove opened #857 "Scaler search is not returning results correctly"
The search on scaler page does not show results when using "Azure"/"AWS"/"Redis" after #805

## Expected Behavior

Show "Azure Service Bus" and others when searching for "Azure"; for example.

## Actual Behavior

No results were found

## Steps to Reproduce the Problem

  1. Search for "Azure", "AWS" or ""Redis" on the scaler page

[2022-08-03 06:32] v-shenoy commented on #854
I tried a few queries, and they showed up with no results as well.

![image](https://user-images.githubusercontent.com/38671299/182539539-f966e280-254f-41b9-8cb9-a8ffe8b3383a.png)

![image](https://user-images.githubusercontent.com/38671299/182539583-5e24d7de-a92c-4153-889b-013d5a178d60.png)

![image](https://user-images.githubusercontent.com/38671299/182539653-e3f63b53-6d88-4e76-8966-ab0bce963aea

[2022-08-03 06:32] v-shenoy commented on #854
Seems to be some problem with spaces.

[2022-08-03 06:33] tomkerkhove commented on #854
Duplicate of #857 as this is more than just Redis

[2022-08-03 06:33] #854 closed

[2022-08-03 06:52] v-shenoy opened #858 "Provide support for searching in external scalers"
Using the search bar when on the external scalers tab does not filter results.

## Expected Behavior

Show only CosmosDB scaler when typing "Cosmos" in the search bar when on the external scalers tab.

## Actual Behavior

All external scalers are shown.

## Steps to Reproduce the Problem

  1. Visit the scalers page.
  2. Open the external scalers tab.
  3. Type in a search query.

[2022-08-03 07:14] tomkerkhove opened #860 "List all built-in scalers in side-navigation bar"
List all built-in scalers in side-navigation bar for simplified navigation:

![image](https://user-images.githubusercontent.com/4345663/182547195-a013684d-396d-42e5-b50d-8a8793ffeac5.png)

[2022-08-03 07:31] zqzten opened #861 "Confusing (wrong) description on supported replica of metrics server deployment"
In [High Availability section of the operate doc](https://keda.sh/docs/2.7/operate/cluster/#high-availability), it said that KEDA metrics server does not support HA according to [limitation in k8s custom metrics server](https://github.com/kubernetes-sigs/custom-metrics-apiserver/issues/70).

However, the limitation mentioned is that k8s does not support **more than one type** of custom metrics ser

[2022-08-03 07:50] JorTurFer commented on #855
Support is good enough to me 😄

[2022-08-03 08:31] tomkerkhove commented on #858
I think that based on this issue and https://github.com/kedacore/keda-docs/issues/845 it's best to start using the Artifact Hub API @thisisobate

[2022-08-03 11:03] cynthia-sg commented on #711
Hi there! 👋

I have been checking the issue and I was wondering if you had in mind something similar to this:

<img width="1711" alt="keda_providers_1" src="https://user-images.githubusercontent.com/1440981/182592733-64360d8b-ba29-4cbf-a4e3-be671a368827.png">

I have used the old buttons for linking with the provider information, but if you prefer we can use something similar to the card used now

[2022-08-03 12:08] tomkerkhove commented on #711
I love this!

We'll have to retro-actively sync the versions with when we shipped them but for me it's OK to start with 2.8 and duplicate them all the way back; I can clean it up later on.

The only concern I have is with the first screenshot where the information is still a bit hidden but we can improve that in a next PR IMO.

Thoughts @JorTurFer @zroubalik ?

[2022-08-03 12:09] zroubalik commented on #711
Agree and I think that we don't have to do that for all versions, 2.8 and 2.7 is imho enough.

[2022-08-03 12:12] tomkerkhove commented on #711
Well, if people look at certain versions below 2.7 they won't see any other providers; unless we can keep the static pages for those of course?

[2022-08-03 12:24] JorTurFer commented on #711
Versions below 2.7/2.6 have fewer sources I think, for me 2.7 is enough as starting point

[2022-08-04 07:31] zqzten commented on #861
But the KEDA metrics server is an aggregated apiserver (which naturally support HA) right? Say I have two replicas of it, and there's one down, the other one can still handle the request from HPA controller. I haven't look through the code so I'm not sure if I missed sth.

[2022-08-04 08:06] tomkerkhove commented on #861
Yes but it's not going to actively load balance across multiple instances

[2022-08-04 08:07] tomkerkhove commented on #861
But @zroubalik might correct me, but I'm pretty sure that's correct

[2022-08-04 08:29] zroubalik commented on #861
Yeah, that the usual default way it works, ie. only one instance handles the load. For the requests to be balanced between all the instances of the metrics-apiserver, you need to set `--enable-aggregator-routing=true` on the kube-apiserver.

[2022-08-04 08:49] zroubalik commented on #861
The issue is, that once we introduce metrics values caching on the metric server side, then we will have to somehow deal with sharing the cache between multiple replicas

[2022-08-04 09:25] zqzten commented on #861
Yeah that might be a problem. So the question can become: if I setup KEDA metrics server with HA (more than 1 replica), what possible issue would I meet?

[2022-08-04 09:34] tomkerkhove commented on #861
That the only "HA" that you get, is that it will reduce failing over ones the primary fails

[2022-08-04 09:40] cynthia-sg commented on #711
Hi again! 👋

  I have just created a PR (#867) for this.

I've noticed one issue while testing the changes on mobile devices. Some links were not being displayed properly in the table of contents as you can see in the screenshot below. I needed to add a new link (Authentication Providers) that wasn't going to be visible either because of this, so I've fixed it in the PR.

(this is how it looks rig

[2022-08-04 09:43] zroubalik commented on #861
@zqzten no issues at the moment when specifying multiple replicas.

[2022-08-04 09:50] zqzten commented on #861
Thanks! So shall we correct the doc to say that KEDA metrics server does support HA with multiple relicas?

[2022-08-04 09:53] zroubalik commented on #861
Yeah, that would be great. But we should be careful with the wording, so people don't have the impression that they could have mutliple installations per cluster.

[2022-08-04 11:26] tomkerkhove commented on #711
Awesome, thank you!

[2022-08-04 11:30] tomkerkhove commented on #861
I would prefer not to change it given it's not really HA IMO but if everything things it's best then that's that.

What about this?

You can run multiple replicas, but they will not improve the performance of KEDA, it could only reduce downtime during a failover.

[2022-08-04 12:41] chalin opened #869 "Consider not listing scalers at the end of each individual scaler page"
Each individual scaler page should be about the scaler itself and nothing else. Why list all scalers at the end of the page? This adds content irrelevant to the scaler which shows up in, e.g., the printed version of the page.

[2022-08-04 12:43] chalin commented on #412
Do you consider this done or work-in-progress @tomkerkhove?
Should it be assigned to @thisisobate?

/cc @nate-double-u

[2022-08-04 12:49] tomkerkhove commented on #412
No because the filtering capabilities are not there yet.

I'm OK with assigning it to @thisisobate but I'm leaving it up to your team as I don't want to push work on your team so feel free to assign how you want to.

[2022-08-04 12:49] tomkerkhove commented on #412
And https://github.com/kedacore/keda-docs/issues/845 & https://github.com/kedacore/keda-docs/issues/857 are also related to this one

[2022-08-04 12:59] chalin opened #870 "Don't list all scalers under the concepts page"
For example, see [Event sources and scalers](http://localhost:8888/docs/2.7/concepts/#event-sources-and-scalers):

Rather than listing all the scalers, it would offer a better UX to direct the reader to the Scalers page, where they can use the search, etc.

Thoughts @tomkerkhove?

[2022-08-04 12:59] chalin commented on #869
@tomkerkhove - any comments about this?

Related:

- #870

[2022-08-04 13:07] thisisobate commented on #858
I think this should be considered a feature request instead since the search bar only works for in-built scalers.

[2022-08-04 13:15] tomkerkhove commented on #858
I agree on that, but in that case the search should only be visible when you are looking at built-in scalers to improve UX

[2022-08-04 13:15] tomkerkhove opened #872 "Refactor top-level search bar"
Refactor top-level search bar so that:
- "Authentication Providers" is added after "Scalers"
- "Merch" is moved in to "Project

[2022-08-04 13:28] chalin commented on #857
@thisisobate - I think that the "wild card" feature should be dropped. It seems unconventional for a search. Implicitly, when a user types "abc" the search should be for any match _containing_ "abc".

Do you agree @tomkerkhove?

[2022-08-04 13:28] tomkerkhove commented on #869
I'd say this simplifies navigation but if they are listed in the side navigation as per https://github.com/kedacore/keda-docs/issues/860 then I'm ok with removing them

[2022-08-04 13:29] tomkerkhove commented on #869
PS: Add all of these issues to "Documentation Improvements" please :)

[2022-08-04 13:29] tomkerkhove commented on #857
Agreed!

[2022-08-04 13:30] tomkerkhove commented on #870
I am personally a fan of listing them there and would like to add a section on auth providers as well.

Thoughts @zroubalik @JorTurFer ?

[2022-08-04 13:30] chalin commented on #857
Please assign to @thisisobate.

[2022-08-04 13:38] chalin commented on #860
As mention in https://github.com/kedacore/keda-docs/issues/581#issuecomment-972769847, the scalers list was too long and hence was removed. From a UX point of view (both on desktop and mobile) it makes more sense (IMHO) to direct the user to the **Scalers** page where they can use the search with filter etc. Thoughts?

[2022-08-04 13:42] chalin commented on #869
A user can click on **Scalers** in the top-nav (or the nav under mobile) to view all scalers. (I'd vote against #860, as I commented there, since the list of scalers is too long for a nav.)

[2022-08-04 13:50] zroubalik commented on #870
I like it there as well, but I am not opposed if you prefer to change this.

[2022-08-04 14:01] chalin opened #873 "Console error: cannot read properties of null (reading 'value')"
Visit any website page and view the console. I see the following error:

[code]

I think that this might be related to the recent updates to the scalar search.

/cc @thisisobate @nate-double-u

[2022-08-04 14:03] thisisobate commented on #857
@chalin You're right. Implicitly, when a user types "abc" the search should be for any match _containing_ "abc". The tricky thing is that for Lunr, it can only match a **word** (term) not **characters**.

E.g, we want to search for scalers that are maintained by Microsoft. We start by entering the "m" character, then "i".
We expect the tool to be smart enough to depict that we mean Microsoft but i

[2022-08-04 14:22] chalin commented on #870
IMHO, it would provide a better **user experience** (UX) to direct the reader to the **Scalars** page where they can see the "whole story" about scalers (both _built-in_ and _external_), and use the filters to search.

Otherwise, we run into issues like these (from a UX perspective):

- The compact list doesn't show external scalers. Is that an issue?
- On mobile, the list is getting a bit long to

[2022-08-04 14:27] chalin commented on #857
IMHO, then either we shouldn't be using Lunr, or we need to make the necessary adjustments so that we can search for an arbitrary string being contained in the search targets.

[2022-08-04 14:33] thisisobate commented on #857
Sure...that's what I tried doing with the wildcard thing. Anyways, I've started working on this issue so @tomkerkhove feel free to assign this issue to me

[2022-08-04 14:50] JorTurFer commented on #870
I prefer to have all the info in one place and links from everywhere. For me, having the scalers listed everywhere is not necessary, but as you prefer, I don't have any strong opinion about it

[2022-08-04 14:51] zroubalik commented on #870
Yeah that sounds reasonable. So it's up to you @tomkerkhove

[2022-08-04 14:58] thisisobate commented on #857
That could work...would try it this approach and see if it satisfies all the edge cases.
Thanks for the suggestion!

[2022-08-04 15:03] tomkerkhove commented on #860
That's nice, however, if I want to go from scaler A to scaler B that takes a lot of clicks.

That's why I'd like to have the list back to simplify it.

[2022-08-05 03:05] zqzten commented on #861
That might not be accurate enough? According to what @zroubalik mentioned, we can achive load balanced HA of KEDA metrics server by setting` --enable-aggregator-routing=true` on the kube-apiserver.

[2022-08-05 03:13] zqzten commented on #861
Just found that the official metrics server also has this recommandation, FYI: https://github.com/kubernetes-sigs/metrics-server#high-availability

[2022-08-05 08:54] thisisobate commented on #857
`*abc ... def*` didn't work for me. I figured I needed to improve the search logic to support both word and character matching. Would push something right away.

[2022-08-06 10:15] pinkfloydx33 opened #877 "Docs use incorrect casing for Azure KeyVault `vaultUri`"
The documentation for 2.7 and 2.8 uses the wrong casing for the `azureKeyVault.vaultUri` parameter of `TriggerAuthentication`/`ClusterTriggerAuthentication`.

The docs indicate it's `vaultURI` which is incorrect and does not validate during deployment. It should be `vaultUri`.
- https://github.com/kedacore/keda-docs/blob/4a9fc49d05496d033011cb0a4d21b136a0048a12/content/docs/2.7/concepts/authentica

[2022-08-08 05:06] tomkerkhove commented on #877
Would you be open to send a PR to update the 2.7 & 2.8 docs please?

[2022-08-08 06:36] tomkerkhove opened #878 "Provide visual overview of ScaledObject vs ScaledJobs"
Provide visual overview of ScaledObject vs ScaledJobs to help end-users choose the mechanics that they need.

Potential page to show this would be https://keda.sh/docs/latest/concepts/ or in a "ways to scale" page.

[2022-08-09 06:21] tomkerkhove opened #882 "Provide guidance around installing KEDA & namespaces"
Provide guidance around installing KEDA & namespaces so that KEDA install it in a dedicated namespace to better govern it.

For example, if you are using Istio you'll need to turn of Istio injection as per https://keda.sh/docs/latest/troubleshooting/

[2022-08-09 06:22] tomkerkhove commented on #882
Related https://github.com/kedacore/keda-docs/issues/774

[2022-08-09 15:01] tomkerkhove commented on #869
Too many clicks :) I should go straight from scaler A to B imo.

[2022-08-10 07:39] #857 closed

[2022-08-13 12:19] #802 closed

[2022-08-13 17:46] tomkerkhove commented on #860
This is how I do it on my other OSS project and find super useful -  https://docs.promitor.io/v2.7/scraping/providers/app-plan/

Less clicking to go from one provider to another.

Thoughts @kedacore/keda-maintainers?

[2022-08-14 16:35] chalin commented on #860
Ok, I'll have another look.

[2022-08-15 06:17] #711 closed

[2022-08-15 10:32] zroubalik commented on #861
Yeah, we can also mention this property there. Are you willing to open a PR to fix this?

[2022-08-15 15:27] thisisobate commented on #839
Alright. Will go ahead and close this one to avoid overengineering.
Thanks for sharing your thoughts! @chalin @tomkerkhove

[2022-08-15 15:27] #839 closed

[2022-08-15 21:00] chalin opened #892 "Factor our scalers partial"
_Originally posted by @chalin in https://github.com/kedacore/keda-docs/pull/805#discussion_r937771660_:

Specifically, lines 28 - 48 should be in a partial just like they were before the change (i.e., the old line 28):

Hmm, I'm wondering if it would make sense to include the `h2` heading too? Actually, I think that it makes sense to move line 2 and from line 21 to the `{{ end }}` of the `{{ if }}

[2022-08-15 21:18] chalin commented on #873
For a possible cause, see https://github.com/kedacore/keda-docs/pull/805/files#r946133759.

[2022-08-15 21:19] chalin commented on #873
Maybe the JS should only be included in the Scalers page?

[2022-08-15 22:13] chalin opened #894 "Ensure pages have <meta name="description">"
Consider using the same / similar template as we have used on other CNCF projects.

[2022-08-16 06:11] zqzten commented on #861
Glad to. I'll open one in these days.

[2022-08-16 07:05] #860 closed

[2022-08-16 13:24] tomkerkhove opened #896 "Version drop-down does not work on auth provider page"
Version drop-down does not work on auth provider page and redirects to general docs instead of the same provider

Relates to #711

## Expected Behavior

Show different version and redirect to same page.

## Actual Behavior

Shows correct version, but doc root instead.

## Steps to Reproduce the Problem

  1. Go to auth provider page
  2. Select new version in drop-down

Relates to #711

[2022-08-17 05:33] #840 closed

[2022-08-17 08:53] #892 closed

[2022-08-17 18:57] #853 closed

[2022-08-19 15:18] chalin opened #904 "Select new Netlify build image"
As reported via deploy logs:

[2022-08-20 14:36] v-shenoy commented on #896
This is the case for all pages. It always re-directs to the root page of the selected version.

[2022-08-22 07:01] tomkerkhove commented on #904
Which one do you want?

[2022-08-22 13:17] chalin commented on #904
The new default.

[2022-08-22 14:07] tomkerkhove commented on #904
Changed and running deployment: https://app.netlify.com/sites/keda/deploys/63038dabd3b18d06a66d3c04

[2022-08-22 14:11] #904 closed

[2022-08-22 14:18] tomkerkhove commented on #855
Custom Metrics Autoscaler on OpenShift is another one https://cloud.redhat.com/blog/custom-metrics-autoscaler-on-openshift

[2022-08-23 07:22] #858 closed

[2022-08-25 16:52] WindNotStop opened #915 "The scaler's close method has already been called once in ScalersCache. PushScaler will call the scaler's close method again."
The scaler's close method has already been called once in ScalersCache. PushScaler here will call the scaler's close method again.

## Expected Behavior
The scaler's close method is expected to be called once.

## Actual Behavior
The scaler's close method is actually called twice.

## Steps to Reproduce the Problem

  1. Delete the PushScaler resource.

## Specifications

  - **KEDA Version:** *v2

[2022-08-25 18:27] tomkerkhove commented on #915
Not a docs bug, PR is open in https://github.com/kedacore/keda/pull/3599

[2022-08-25 18:27] #915 closed

[2022-08-28 20:22] v-shenoy commented on #877
This was just me being dumb. 🤦🏽

[2022-08-29 05:50] #877 closed

[2022-08-30 11:14] BitProcessor opened #919 "Metadata and TriggerAuthentication are NOT interchangeable"
As a new Keda user, I tried to setup the Kafka scaler and ran into the following documentation regarding authentication:
https://keda.sh/docs/2.8/concepts/authentication/#re-use-credentials-and-delegate-auth-with-triggerauthentication

On this page, it mentions both:
[code]
and
[code]

The first one of the above seems to suggest that metadata and TriggerAuthentication entries are interchangeable.

[2022-08-30 13:22] tomkerkhove commented on #919
This says that some of the things for the metadata can be configured through `TriggerAuthentication` but it does not mention that everything can be configured that way.

That's why we have the "Authentication Parameters" section for every scaler: https://keda.sh/docs/2.8/scalers/activemq/#authentication-parameters

If it would help, we could add an entry there saying everything listed in this sect

[2022-08-30 14:39] BitProcessor commented on #919
@tomkerkhove I think you are confirming what I am saying:

You are also writing "**_can be configured_**"
The point I am trying to make, is that some items **have to be** in the `TriggerAuthentication` and do not work when they are in the metadata as plain strings. Which is what I believe the second doc entry tells:

More concrete, I ran into this when configuring the Kafka scaler, see this conver

[2022-08-31 06:35] tomkerkhove commented on #855
Reopening as docs for adding are not there.

[2022-08-31 09:44] #855 closed

[2022-09-02 08:30] JorTurFer opened #927 "Page search doesn't display the results correctly"
The page search shows "latest" for every entry, even the links points to the correct version.

![image](https://user-images.githubusercontent.com/36899226/188098257-bfb654b8-f055-4fa0-84eb-3fcb8a9c746b.png)

It also shows the results unordered. I'd expect to see them from latest to oldest

[2022-09-02 08:31] zroubalik opened #928 "Subsections of `Concepts` are not reachable on mobile"
Mobile version:
![photo_2022-09-02_10-29-54](https://user-images.githubusercontent.com/726523/188098634-1c2b2070-b1df-44a2-a754-a4b71483f054.jpg)

vs standard version:

<img width="1210" alt="Snímek obrazovky 2022-09-02 v 10 27 55" src="https://user-images.githubusercontent.com/726523/188098699-96ce606f-0c1c-4b21-87e3-c8680e3b44ce.png">

[2022-09-13 17:01] #845 closed

[2022-09-13 17:25] thisisobate commented on #412
Do we consider this as done? @tomkerkhove
We've fixed all related issues so I think we should close this one

[2022-09-13 17:43] tomkerkhove commented on #412
Not really, we are still missing this

[2022-09-13 19:17] thisisobate commented on #412
I originally thought the search bar already solves the filtering capabilities but it seems I'm wrong

[2022-09-14 05:51] tomkerkhove commented on #412
No, the idea is to have something similar to this:
![image](https://user-images.githubusercontent.com/4345663/190070506-0eaa6c4c-6d3f-4cbe-b7bc-ff426be2beca.png)

[2022-09-14 07:27] tomkerkhove opened #934 "Provide documentation on available labels per metric in Prometheus"
Provide documentation on available labels per metric in Prometheus so that end-users can know what to expect.

[2022-09-14 14:26] tomkerkhove opened #935 "Provide versioning for our FAQ"
Provide versioning for our FAQ, given the FAQ data is specific per version (ie supported Kubernetes version)

https://keda.sh/docs/2.9/faq/

[2022-09-14 14:26] tomkerkhove opened #936 "Update FAQ for v2.9 to emphasize Kubernetes v1.23+ is required"
Update FAQ for v2.9 to emphasize Kubernetes v1.23+ is required

Depends on https://github.com/kedacore/keda-docs/issues/935

[2022-09-20 06:45] tomkerkhove opened #941 "Version dropdown for authentication providers uses wrong URL"
The dropdown doesn't work, it points to wrong url (missing `/authentication-providers/`)
![image](https://user-images.githubusercontent.com/4345663/191186184-5d9e092f-77d7-41bb-a49f-39c0d3e02e9f.png)

Kudos to @JorTurFer

Relates to #711

[2022-09-26 12:40] #861 closed

[2022-09-28 17:56] #681 closed

[2022-10-07 17:15] #676 closed

[2022-10-08 18:04] chalin commented on #809
@nate-double-u - I believe that this was resolved by #893. Can you confirm, and if so, close this issue? Thanks.

[2022-10-11 09:35] #869 closed

[2022-10-22 00:40] #873 closed

[2022-10-22 12:12] #894 closed

[2022-11-03 14:06] ivan-santos-eq opened #969 "Add documentation for replacing existing HPA with an Scaled Object without deleting the existing resource"
### Use-Case

In a company where most of the services already have HPA, it would be ideal to have a backward compatible transition to ScaledObjects where it would take over the existing HPA, while the user would only need to delete the HPA yaml file (not using git ops).

[2022-11-05 16:11] #919 closed

[2022-11-14 12:03] tomkerkhove commented on #936
Already documented on https://keda.sh/docs/2.9/operate/cluster/#kubernetes

[2022-11-17 10:20] tomkerkhove opened #980 "Make "Why is Kubernetes unable to get metrics from KEDA? " troubleshooting guide more actionable"
We should extend our "Why is Kubernetes unable to get metrics from KEDA? " troubleshooting guide more actionable by specifying what to do if the API service is not there in case of an corrupt installation setup.

[2022-11-17 10:20] tomkerkhove commented on #980
I just had this where service & api service was missing after helm uninstall followed by an install.

I used template of Helm chart and applied that, but should provide guidance.

[2022-11-27 20:55] hajdukd opened #986 "Please extend documentation on external metrics api being unavailable"
Update docs with more examples of what can cause the issue.

### Use-Case

I'm currently facing a situation where keda-metrics-server is not available due to "Address is not allowed"
Firewall seems to allow communication between api-server and pod on port 6443, covered the docs and dis does not help 👍
Looking for other guesses what can be wrong ;)

### Specification

- Please extend https://github

[2022-11-28 09:31] tomkerkhove commented on #986
We'd love to, but in order to do that we need to have cases that we should document :)

So we're actually looking forward to hearing what your issue was so we can add it to the docs.

It sounds like it is related to permissions/networking though.

[2022-11-29 08:07] JorTurFer commented on #936
If it's already documented, shall we close this?

[2022-11-29 08:57] tomkerkhove commented on #936
Let's!

[2022-11-29 08:58] tomkerkhove commented on #936
Actually this is for the FAQ so I'm re-opening this